# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](https://keydifferences.com/difference-between-t-test-and-anova.html).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](https://www.itl.nist.gov/div898/handbook/eda/section3/eda3673.htm) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [87]:
# Import libraries
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [88]:
# Import dataset

pokemon = pd.read_csv('../../lab-df-calculation-and-transformation/your-code/Pokemon.csv')

pokemon.head()

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0  1              Bulbasaur  Grass  Poison    318  45      49       49       65       65     45           1      False
1  2                Ivysaur  Grass  Poison    405  60      62       63       80       80     60           1      False
2  3               Venusaur  Grass  Poison    525  80      82       83      100      100     80           1      False
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123      122      120     80           1      False
4  4             Charmander   Fire     NaN    309  39      52       43       60       50     65           1      False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [89]:
# Your code here
unique = pd.unique(pokemon[['Type 1', 'Type 2']].values.ravel('K'))

unique  # you should see 19

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

In [90]:
#option2

unique = pd.concat([pokemon['Type 1'], pokemon['Type 2']]).unique()

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [99]:
pokemon_totals = []
for typ in unique:
    if type(typ) != float:
        pokemon_totals.append(pokemon.Total [(pokemon['Type 1'] == typ) | (pokemon['Type 2'] == typ)])
pokemon_totals

[0      318
 1      405
 2      525
 3      625
 48     320
 49     395
 50     490
 51     285
 52     405
 75     300
 76     390
 77     490
 110    325
 111    520
 122    435
 166    318
 167    405
 168    525
 197    490
 202    250
 203    340
 204    460
 206    180
 207    425
 271    600
 272    310
 273    405
 274    530
 275    630
 293    220
 294    340
 295    480
 296    220
 297    340
 298    480
 309    295
 310    460
 344    400
 362    335
 363    475
 377    355
 378    495
 390    460
 432    318
 433    405
 434    525
 451    280
 452    515
 458    424
 467    275
 468    450
 505    454
 509    334
 510    494
 511    594
 516    535
 521    525
 536    520
 550    600
 551    600
 554    308
 555    413
 556    528
 570    316
 571    498
 600    310
 601    380
 602    500
 606    280
 607    480
 608    280
 609    480
 617    461
 646    335
 647    475
 651    294
 652    464
 658    305
 659    489
 701    580
 718    313
 719    405
 720    530
 740    350
 741    531
 778    309
 779    474
 780    335
 781    335
 782    335
 783    335
 784    494
 785    494
 786    494
 787    494
 Name: Total, dtype: int64,
 4      309
 5      405
 6      534
 7      634
 8      634
 42     299
 43     505
 63     350
 64     555
 83     410
 84     500
 135    495
 147    525
 158    580
 169    309
 170    405
 171    534
 236    250
 237    410
 246    330
 247    500
 248    600
 259    365
 263    580
 270    680
 276    310
 277    405
 278    530
 279    630
 352    305
 353    460
 354    560
 355    470
 424    770
 435    309
 436    405
 437    534
 518    540
 532    520
 542    600
 553    600
 557    308
 558    418
 559    528
 572    316
 573    498
 614    315
 615    480
 616    540
 668    275
 669    370
 670    520
 692    484
 697    360
 698    550
 706    680
 721    307
 722    409
 723    534
 730    382
 731    499
 735    369
 736    507
 799    600
 Name: Total, dtype: int64,
 9      314
 10     405
 11     530
 12     630
 59     320
       ...
 759    500
 760    320
 762    330
 763    500
 799    600
 Name: Total, Length: 126, dtype: int64,
 13     195
 14     205
 15     395
 16     195
 17     205
 18     395
 19     495
 51     285
 52     405
 53     305
 54     450
 132    500
 136    500
 137    600
 179    265
 180    390
 181    250
 182    390
 208    390
 219    290
 220    465
 228    500
 229    600
 230    505
 231    500
 232    600
 288    195
 289    205
 290    395
 291    205
 292    385
 307    269
 308    414
 314    266
 315    456
 316    236
 342    400
 343    400
 379    355
 380    495
 446    194
 447    384
 457    224
 458    424
 459    424
 460    424
 461    424
 462    244
 463    474
 501    330
 520    515
 600    310
 601    380
 602    500
 603    260
 604    360
 605    485
 618    325
 619    475
 649    315
 650    495
 656    319
 657    472
 677    305
 678    495
 693    484
 697    360
 698    550
 717    600
 732    200
 733    213
 734    411
 Name: Total, dtype: int64,
 20     251
 21     349
 22     479
 23     579
 24     253
       ...
 735    369
 736    507
 744    472
 764    289
 765    481
 Name: Total, Length: 102, dtype: int64,
 0      318
 1      405
 2      525
 3      625
 16     195
 17     205
 18     395
 19     495
 28     288
 29     438
 34     275
 35     365
 36     505
 37     273
 38     365
 39     505
 46     245
 47     455
 48     320
 49     395
 50     490
 53     305
 54     450
 75     300
 76     390
 77     490
 78     335
 79     515
 95     325
 96     500
 99     310
 100    405
 101    500
 102    600
 117    340
 118    490
 181    250
 182    390
 183    535
 227    430
 292    385
 344    400
 345    302
 346    467
 368    458
 451    280
 452    515
 482    329
 483    479
 501    330
 502    500
 503    300
 504    490
 603    260
 604    360
 605    485
 629    329
 630    474
 651    294
 652    464
 760    320
 761    494
 Name: Total, dtype: int64,
 30     320
 31     485
 88     325
 89     465
 108    330
 109    480
 134    490
 146    525
 157    580
 184    330
 185    460
 186    205
 193    280
 194    365
 195    510
 196    610
 258    360
 262    580
 337    295
 338    475
 339    575
 340    405
 341    405
 448    263
 449    363
 450    523
 464    405
 513    535
 517    540
 531    440
 532    520
 533    520
 534    520
 535    520
 536    520
 581    295
 582    497
 648    428
 656    319
 657    472
 663    275
 664    405
 665    515
 679    471
 704    580
 705    580
 707    680
 764    289
 765    481
 772    431
 Name: Total, dtype: int64,
 32     300
 33     450
 36     505
 39     505
 55     265
 56     405
 80     300
 81     390
 82     495
 103    385
 112    320
 113    425
 119    345
 120    485
 209    210
 210    430
 222    430
 223    510
 224    610
 238    250
 239    450
 250    330
 251    500
 265    300
 266    410
 281    405
 282    535
 283    635
 314    266
 352    305
 353    460
 354    560
 359    290
 360    340
 361    520
 371    288
 372    468
 375    300
 376    500
 423    670
 424    770
 434    525
 459    424
 470    475
 491    300
 492    410
 493    600
 494    700
 499    330
 500    525
 515    535
 523    510
 524    530
 588    328
 589    508
 596    384
 597    509
 611    292
 612    351
 613    519
 679    471
 683    303
 684    483
 708    600
 709    600
 728    423
 794    600
 Name: Total, dtype: int64,
 40     323
 41     483
 44     270
 45     435
 131    460
 187    218
 188    210
 189    245
 190    405
 198    250
 199    420
 225    300
 226    450
 303    198
 304    278
 305    518
 306    618
 322    190
 328    380
 329    480
 366    590
 487    310
 519    545
 591    545
 606    280
 607    480
 737    303
 738    371
 739    552
 752    341
 753    462
 754    341
 755    480
 770    525
 772    431
 773    500
 777    470
 792    680
 795    600
 796    700
 Name: Total, dtype: int64,
 61     305
 62     455
 67     510
 72     305
 73     405
 74     505
 114    455
 115    455
 163    780
 231    500
 232    600
 255    210
 256    455
 277    405
 278    530
 279    630
 310    460
 320    237
 321    474
 334    280
 335    410
 336    510
 436    405
 437    534
 476    580
 496    285
 497    525
 498    625
 503    300
 504    490
 526    518
 527    618
 558    418
 559    528
 592    305
 593    405
 594    505
 598    465
 599    465
 620    348
 621    488
 680    350
 681    510
 699    580
 700    580
 701    580
 713    580
 714    580
 716    600
 720    530
 742    348
 743    495
 771    500
 Name: Total, dtype: int64,
 68     310
 69     400
 70     500
 71     590
 85     315
 86     490
 87     590
 104    328
 105    483
 110    325
 111    520
 130    520
 131    460
 133    455
 162    680
 163    780
 164    780
 165    600
 191    320
 192    470
 211    525
 214    490
 216    336
 217    405
 218    455
 257    305
 269    680
 271    600
 303    198
 304    278
 305    518
 306    618
 334    280
 335    410
 336    510
 356    330
 357    470
 369    440
 370    440
 375    300
 376    500
 391    425
 394    260
 410    300
 411    420
 412    600
 413    700
 417    600
 418    700
 419    600
 420    700
 427    600
 428    600
 429    600
 430    600
 431    600
 481    285
 484    300
 485    500
 487    310
 526    518
 527    618
 537    580
 538    580
 539    580
 546    600
 553    600
 576    292
 577    487
 586    313
 587    425
 616    540
 622    490
 635    290
 636    390
 637    490
 638    290
 639    370
 640    490
 666    335
 667    485
 715    600
 723    534
 745    355
 746    466
 747    466
 756    288
 757    482
 797    600
 798    680
 Name: Total, dtype: int64,
 80     300
 81     390
 82     495
 103    385
 119    345
 120    485
 149    355
 150    495
 151    355
 152    495
 153    515
 154    615
 200    410
 230    505
 237    410
 240    380
 265    300
 266    410
 267    600
 268    700
 323    375
 330    330
 331    430
 332    530
 369    440
 370    440
 377    355
 378    495
 379    355
 380    495
 404    485
 414    580
 453    350
 454    495
 455    350
 456    495
 486    290
 515    535
 528    525
 583    280
 584    390
 585    515
 618    325
 619    475
 625    355
 626    495
 627    401
 628    567
 700    580
 758    306
 759    500
 766    362
 767    521
 768    362
 769    521
 773    500
 795    600
 796    700
 Name: Total, dtype: int64,
 99     310
 100    405
 101    500
 102    600
 215    435
 316    236
 326    380
 327    480
 385    295
 386    455
 387    555
 388    295
 389    455
 472    348
 473    498
 477    495
 490    485
 529    525
 530    480
 531    440
 544    680
 545    680
 623    303
 624    483
 653    335
 654    480
 668    275
 669    370
 670    520
 683    303
 684    483
 748    325
 749    448
 750    520
 751    520
 778    309
 779    474
 780    335
 781    335
 782    335
 783    335
 784    494
 785    494
 786    494
 787    494
 797    600
 Name: Total, dtype: int64,
 94     475
 98     525
 133    455
 142    535
 156    580
 233    430
 238    250
 239    450
 243    330
 257    305
 395    300
 396    480
 397    580
 398    290
 399    410
 400    530
 415    580
 509    334
 510    494
 511    594
 512    510
 522    525
 524    530
 530    480
 534    520
 643    305
 644    395
 645    535
 674    305
 675    485
 676    485
 710    660
 711    700
 712    700
 768    362
 769    521
 788    304
 789    514
 Name: Total, dtype: int64,
 7      634
 159    300
 160    420
 161    600
 196    610
 249    540
 275    630
 360    340
 361    520
 365    490
 366    590
 406    300
 407    420
 408    600
 409    700
 417    600
 418    700
 419    600
 420    700
 425    680
 426    780
 491    300
 492    410
 493    600
 494    700
 540    680
 541    680
 544    680
 545    680
 671    320
 672    410
 673    540
 682    485
 694    300
 695    420
 696    600
 706    680
 707    680
 710    660
 711    700
 712    700
 761    494
 766    362
 767    521
 774    300
 775    452
 776    600
 790    245
 791    535
 794    600
 Name: Total, dtype: int64,
 141    640
 212    525
 213    405
 233    430
 246    330
 247    500
 248    600
 267    600
 268    700
 284    220
 285    420
 297    340
 298    480
 326    380
 327    480
 347    305
 348    460
 349    560
 363    475
 374    468
 392    465
 393    565
 478    505
 482    329
 483    479
 490    485
 502    500
 512    510
 549    600
 568    281
 569    446
 611    292
 612    351
 613    519
 620    348
 621    488
 631    330
 632    510
 685    340
 686    490
 690    370
 691    510
 694    300
 695    420
 696    600
 726    530
 743    495
 756    288
 757    482
 793    680
 798    680
 Name: Total, dtype: int64,
 88     325
 89     465
 220    465
 223    510
 224    610
 228    500
 229    600
 245    465
 328    380
 329    480
 330    330
 331    430
 332    530
 333    630
 410    300
 411    420
 412    600
 413    700
 416    580
 427    600
 440    530
 455    350
 456    495
 460    424
 484    300
 485    500
 497    525
 498    625
 513    535
 528    525
 540    680
 542    600
 589    508
 650    495
 658    305
 659    489
 660    300
 661    440
 662    520
 685    340
 686    490
 693    484
 699    580
 717    600
 748    325
 749    448
 750    520
 751    520
 777    470
 Name: Total, dtype: int64,
 6      534
 8      634
 15     395
 20     251
 21     349
       ...
 734    411
 771    500
 790    245
 791    535
 793    680
 Name: Total, Length: 101, dtype: int64]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.f_oneway.html).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [100]:
# Your code here

from scipy.stats import f_oneway
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [101]:
f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.6175382960055344, pvalue=2.6457458815984803e-15)

#### Interpret the ANOVA test result. Is the difference significant?

In [94]:
# Your comment here