# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
mean = pokemon.groupby('Legendary')['Total'].mean()

std = pokemon.groupby('Legendary')['Total'].std()

print(f'mean:{mean}, std:{std}')

mean:Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64, std:Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
from scipy import stats

In [7]:
a = pokemon[pokemon['Legendary'] == True]
b = pokemon[pokemon['Legendary'] == False]

In [8]:
stat, pval = stats.ttest_ind(a['Total'],b['Total'],equal_var=False)
print(stat,pval)

25.8335743895517 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [9]:
'''Al ser cercano a 0, la diferencia entre los dos grupos es significativa'''

'Al ser cercano a 0, la diferencia entre los dos grupos es significativa'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [10]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
mean = pokemon.groupby('Type 1')['Total'].mean()

std = pokemon.groupby('Type 1')['Total'].std()

print(f'mean:{mean}, std:{std}')

mean:Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64, std:Type 1
Bug         117.875223
Dark        109.126217
Dragon      146.267538
Electric    105.721952
Fairy       123.781680
Fighting    102.464378
Fire        109.760496
Flying      161.400124
Ghost       110.072685
Grass       106.650626
Ground      123.913081
Ice         108.281027
Normal      115.733038
Poison       92.358687
Psychic     139.026645
Rock        108.059227
Steel       115.420907
Water       113.188266
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [12]:
x = pokemon[pokemon['Type 1'] == 'Water']
y = pokemon[pokemon['Type 1'] != 'Water']

In [15]:
stat, pval = stats.ttest_ind(x['Total'],y['Total'])
print(stat,pval)

-0.4418547448849676 0.6587140317488793

Write your conclusion below.

In [16]:
'''El p-value se aleja del 0 y es mayor que el 5%, por tanto, la diferencia no es significativa'''

'El p-value se aleja del 0 y es mayor que el 5%, por tanto, la diferencia no es significativa'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [17]:
stat, pval = stats.ttest_rel(pokemon.Attack,pokemon.Defense)
print(stat,pval)

4.325566393330478 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [18]:
'''El p-value es menor al 5%, por tanto, la hip贸tesis puede ser rechazada'''

'El p-value es menor al 5%, por tanto, la hip贸tesis puede ser rechazada'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [19]:
stat, pval = stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
print(stat,pval)

0.853986188453353 0.3933685997548122

Describe the results of the test in the cell below.

In [20]:
'''El p-value es mayor al 5%, por tanto, la hip贸tesis no puede ser rechazada'''

'El p-value es mayor al 5%, por tanto, la hip贸tesis no puede ser rechazada'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [22]:
pokemon.Difference = pokemon.Attack - pokemon.Defense

stat, pval = stats.ttest_1samp(pokemon.Difference,0)
print(stat,pval)

4.325566393330478 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: