# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [24]:
# import numpy and pandas

import numpy as np
import pandas as pd

from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [25]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [26]:
# Your code here:

pokemon.tail()

#Llamada a Miami, faltan dos generaciones de Pokemon!

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [27]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
# Your code here:

df1 = pokemon.groupby("Legendary").agg({"Total":["mean","std"]})

df1

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [29]:
pokemon[pokemon["Legendary"]==True]["Total"]

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [30]:
# Your code here:

stats.ttest_ind(pokemon[pokemon["Legendary"]==True]["Total"],pokemon[pokemon["Legendary"]==False]["Total"], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:

Hipótesis nula: La media de poder total de los pokemon legendarios no difiere de la media de poder total de los pokemon normales.

P-Valor: 0

La prueba mide si el valor promedio (esperado) difiere significativamente entre ambas muestras.

En este caso, con un P-valor tan reducido, podemos afirmar que las medias de ambas muestras difieren significativamente.

Rechazamos H0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [31]:
# Your code here:

df2 = pokemon["Type 1"].value_counts()

df2

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [32]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [33]:
# Your code here:

df2 = pokemon.groupby("Type 1").agg({"Total":["mean","std"]})

df2

               Total
                mean         std
Type 1
Bug       378.927536  117.875223
Dark      445.741935  109.126217
Dragon    550.531250  146.267538
Electric  443.409091  105.721952
Fairy     413.176471  123.781680
Fighting  416.444444  102.464378
Fire      458.076923  109.760496
Flying    485.000000  161.400124
Ghost     439.562500  110.072685
Grass     421.142857  106.650626
Ground    437.500000  123.913081
Ice       433.458333  108.281027
Normal    401.683673  115.733038
Poison    399.142857   92.358687
Psychic   475.947368  139.026645
Rock      453.750000  108.059227
Steel     487.703704  115.420907
Water     430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [34]:
# Your code here:

stats.ttest_ind(pokemon[pokemon["Type 1"]=="Water"]["Total"],pokemon["Total"], equal_var = True)

Ttest_indResult(statistic=-0.3865645058398148, pvalue=0.6991690098764859)

In [35]:
pokemon[pokemon["Type 1"]=="Water"]["Total"]

9      314
10     405
11     530
12     630
59     320
      ...
724    314
725    405
726    530
762    330
763    500
Name: Total, Length: 112, dtype: int64

Write your conclusion below.

# Your conclusions here:

Hipótesis nula: La media de poder total de los pokemon de tipo agua no difiere de la media de poder total de los pokemon del resto de tipos

P-Valor: 0,7

La media de "Total" de los pokemon de tipo agua con respecto al resto de pokemon es muy parecida, por tanto no podemos afirmar que los pokemon de tipo agua sean más débiles que el resto.

No rechazamos H0.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [46]:
# Your code here:

#HO: Los valores de defensa y ataque de los Pokemon son iguales

stats.ttest_rel(pokemon["Attack"],pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:

H0 = La media del ataque y la defensa no varían significativamente

Rechazamos H0.

Analizando las muestras dadas (y no independientes como los casos anteriores), se determina que los promedios de Ataque y Defensa varían significativamente.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
# Your code here:
stats.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:

H0 = La media del ataque especial y la defensa especial no varían significativamente

No rechazamos la hipótesis nula.

Analizando las muestras dadas se determina que los promedios de Ataque especial y Defensa especial no varían significativamente.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

H0 = "La diferencia entre las medias es cero"

stats.ttest_1samp(pokemon["Attack"] - pokemon["Defense"],0)

Rechazamos la hipótesis nula.

La media de la diferencia de ataque y defensa no es igual a cero.

Además, anteriormente se determinó que la media de ataque y defensa varía significativamente (Challenge 2, apartado 1)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [55]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [66]:
# Your code here:

test2 = pd.crosstab([pokemon["Type 1"]=="Water"],pokemon["Legendary"])

test2

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [64]:
# Your code here:

stats.chi2_contingency(test2)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

# Your answer here:

Hipótesis nula: Los pokemon legendarios y los pokemon de tipo agua son independientes.

p-valor > 0,05

No rechazamos la hipótesis nula porque no se encuentran diferencias significativas entre las frecuencias observadas y las esperadas de los pokemones.