# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:

legend = pokemon["Legendary"].value_counts()[1]
nolegend = pokemon["Legendary"].value_counts()[0]

"Legendarios: {0} / No legendarios: {1}".format(legend, nolegend)

'Legendarios: 65 / No legendarios: 735'

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
nolegendf = pokemon.loc[pokemon["Legendary"] == False]
legendf = pokemon.loc[pokemon["Legendary"] == True]

print("No legendarios --> Media: {0} / D.T.: {1}".format(nolegendf["Total"].mean(), nolegendf["Total"].std()))
print("Legendarios --> Media: {0} / D.T.: {1}".format(legendf["Total"].mean(), legendf["Total"].std()))

No legendarios --> Media: 417.21360544217686 / D.T.: 106.76041745713005
Legendarios --> Media: 637.3846153846154 / D.T.: 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
from scipy.stats import ttest_ind

tstat, pval = ttest_ind(nolegendf["Total"], legendf["Total"], equal_var=False)

if pval < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media".format(pval))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval))

Valor P = 9.357954335957446e-47. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media

What do you conclude from this test? Write your conclusions below.

Se puede afirmar con un 95% de significancia que en una muestra de Pokemon no legendarios el poder va a ser distinto.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
print(pokemon["Type 1"].value_counts())

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [25]:
waterdf = pokemon.loc[pokemon["Type 1"] == "Water"]
notwaterdf = pokemon.loc[pokemon["Type 1"] != "Water"]
notwaterdf

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
print("Agua --> Media: {0} / D.T.: {1}".format(waterdf["Total"].mean(), waterdf["Total"].std()))
print("Resto Pokemon --> Media: {0} / D.T.: {1}".format(notwaterdf["Total"].mean(), notwaterdf["Total"].std()))

Agua --> Media: 430.45535714285717 / D.T.: 113.1882660643146
Resto Pokemon --> Media: 435.85901162790697 / D.T.: 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [28]:

tstat2, pval2 = ttest_ind(waterdf["Total"], notwaterdf["Total"], equal_var=True)

if pval2 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media".format(pval2))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval2))

Valor P = 0.6587140317488793. Se acepta la hipótesis nula de igualdad de medias.

Write your conclusion below.

En este caso al hacerlo manualmente las diferencias ya no son tan apreciables. Al hacer el test estadístico resulta que no hay diferencias significativas en poder de los pokemon de agua y los demás.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [38]:
from scipy.stats import ttest_rel

tstat3, pval3 = ttest_rel(pokemon["Defense"], pokemon["Attack"])

if pval3 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa entre las dos muestras".format(pval3))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval3))

Valor P = 1.7140303479358558e-05. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa entre las dos muestras

Describe the results of the test in the cell below.

Hay diferencias significativas entre las medias de ataque y defensa de los Pokemon.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [56]:
pokemon["Sp. Def"]
pokemon["Sp. Atk"]


tstat4, pval4 = ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])

if pval4 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa entre las dos muestras".format(pval4))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval4))

Valor P = 0.3933685997548122. Se acepta la hipótesis nula de igualdad de medias.

Describe the results of the test in the cell below.

Sin embargo, no hay tales diferencias entre las medias de los ataques y defensas especiales.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [55]:
from scipy.stats import ttest_1samp

tstat5, pval5 = ttest_1samp(pokemon["Defense"] - pokemon["Attack"], 0)

if pval5 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media poblacional".format(pval5))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval5))

Valor P = 1.7140303479358558e-05. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media poblacional

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [32]:
crosstab = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=="Water")
crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [59]:
from scipy.stats import chi2_contingency

observations = crosstab.values

chi2, pvalue, df, expectedFreq = chi2_contingency(crosstab)

print("Tabla de frecuencias esperadas:",expectedFreq)

if pvalue < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Hay una relación entre las dos variables estadísticamente significativa".format(pvalue))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de independencia entre las variables.".format(pvalue))

Tabla de frecuencias esperadas: [[632.1 102.9]
 [ 55.9   9.1]]
Valor P = 0.08625467249550949. Se acepta la hipótesis nula de independencia entre las variables.

Based on a 95% confidence, should we reject the null hypothesis?

La chi cuadrado comprueba la independencia o no independencia de dos variables. En este caso, las variables son independientes: no hay relación entre ser un Pokemon de Tipo 1 y ser legendario.