# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
legendary = pokemon.groupby('Legendary').count()[['Name']]
legendary

           Name
Legendary
False       735
True         65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
mean_legendary = pokemon.loc[pokemon['Legendary']==True].mean()['Total']
std_legendary = pokemon.loc[pokemon['Legendary']==True].std()['Total']

mean_non_legendary = pokemon.loc[pokemon['Legendary']==False].mean()['Total']
std_non_legendary = pokemon.loc[pokemon['Legendary']==False].std()['Total']

print(f'Legendary: mean= {mean_legendary} || standard deviation= {std_legendary}')
print(f'Non_legendary: mean= {mean_non_legendary} || standard deviation= {std_non_legendary}')

Legendary: mean= 637.3846153846154 || standard deviation= 60.93738905315344
Non_legendary: mean= 417.21360544217686 || standard deviation= 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:

leg=pokemon.loc[pokemon['Legendary']==True]
non_leg=pokemon.loc[pokemon['Legendary']==False]

stat, pval =stats.ttest_ind(leg['Total'],non_leg['Total'],equal_var=False)

if pval < 0.05:
   print(f"pval={pval} --> Se rechaza la hipotesis nula")
else:
  print(f"pval={pval} --> No se rechaza la hipotesis nula")

pval=9.357954335957446e-47 --> Se rechaza la hipotesis nula

What do you conclude from this test? Write your conclusions below.

Hipótesis nula: Los pokemon legendarios y no legendarios tienen la misma puntuación.

Dado el pvalue obtenido se rechaza la hipotesis nula y por lo tanto de concluye con un nivel de confianza del 95% que los pokemon legendarios tienen más puntos que los no legendarios.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [7]:
pokemon.groupby('Type 1').count()[['#']]. sort_values('#', ascending=False)

            #
Type 1
Water     112
Normal     98
Grass      70
Bug        69
Psychic    57
Fire       52
Electric   44
Rock       44
Ghost      32
Ground     32
Dragon     32
Dark       31
Poison     28
Fighting   27
Steel      27
Ice        24
Fairy      17
Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
mean_water = pokemon.loc[pokemon['Type 1']=='Water'].mean()['Total']
std_water = pokemon.loc[pokemon['Type 1']=='Water'].std()['Total']
                         
mean_others = pokemon.loc[pokemon['Type 1']!='Water'].mean()['Total']
std_others = pokemon.loc[pokemon['Type 1']!='Water'].std()['Total']


print(f'Water: mean= {mean_water} || standard deviation= {std_water}')
print(f'Others: mean= {mean_others} || standard deviation= {std_others}')

Water: mean= 430.45535714285717 || standard deviation= 113.1882660643146
Others: mean= 435.85901162790697 || standard deviation= 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
water = pokemon.loc[pokemon['Type 1']=='Water']
others = pokemon.loc[pokemon['Type 1']!='Water']

stat, pval =stats.ttest_ind(water['Total'],others['Total'],equal_var=False)

if pval < 0.05:
   print(f"pval={pval} --> Se rechaza la hipotesis nula")
else:
  print(f"pval={pval} --> No se rechaza la hipotesis nula")

pval=0.6433915385821449 --> No se rechaza la hipotesis nula

Write your conclusion below.

El p_value es mayor que 0,05, por lo que no se rechaza la hipótesis nula, se concluye que la media de puntos entre los pokemons de agua y el resto es prácticamente la misma con un nivel de confianza del 95%.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [10]:
attack = pokemon[['Attack']]
defense = pokemon[['Defense']]

t, pval= stats.ttest_rel(attack,defense)

if pval < 0.05:
   print(f"pval={pval} --> Se rechaza la hipotesis nula")
else:
  print(f"pval={pval} --> No se rechaza la hipotesis nula")

pval=[1.71403035e-05] --> Se rechaza la hipotesis nula

Describe the results of the test in the cell below.

In [11]:
Se rechaza la hipótesis nula, es decir que la puntuación entre ataques y defensas no son iguales.

SyntaxError: invalid syntax (<ipython-input-11-1a604795ff9d>, line 1)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
sp_attack = pokemon[['Sp. Atk']]
sp_defense = pokemon[['Sp. Def']]

t, pval= stats.ttest_rel(sp_attack,sp_defense)

if pval < 0.05:
   print(f"pval={pval} --> Se rechaza la hipotesis nula")
else:
  print(f"pval={pval} --> No se rechaza la hipotesis nula")

Describe the results of the test in the cell below.

En este caso, no se rechaza la hipotesis nula.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
pokemon['diff']= pokemon['Defense']-pokemon['Attack']

statistic, pval = stats.ttest_1samp(pokemon['diff'],0)   

if pval < 0.05:
   print(f"pval={pval} --> Se rechaza la hipotesis nula")
else:
  print(f"pval={pval} --> No se rechaza la hipotesis nula")

#Se confirma que los resultados de los dos test son iguales

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: