# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [36]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
nlegen = pokemon[pokemon['Legendary']==False]
legen = pokemon[pokemon['Legendary']==True]
print(len(legen), len(nlegen))

65 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
print('Medias:')
print(nlegen['Total'].mean())
print(legen['Total'].mean())
print('Std:')
print(np.std(nlegen['Total']))
print(np.std(legen['Total']))

Medias:
417.21360544217686
637.3846153846154
Std:
106.68776660321979
60.46682302213779

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
# Your code here:
t, p = scipy.stats.ttest_ind(legen['Total'], nlegen['Total'], equal_var=False)
print(t, p)
if p < 0.05:  # null hypothesis: x comes from a normal distribution
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

25.8335743895517 9.357954335957446e-47
The null hypothesis can be rejected

What do you conclude from this test? Write your conclusions below.

In [10]:
# Your conclusions here:
'''El p-valor nos da un numero muy pequeño, con lo que se puede rechazar la hipótesis'''

'El p-valor nos da un numero muy pequeño, con lo que se puede rechazar la hipótesis'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:
water_poke = pokemon[['Type 1','Name']].groupby('Type 1').count().sort_values(by='Name', ascending=False)

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
# Your code here:
water_poke = pokemon[pokemon['Type 1'] == 'Water']
no_water = pokemon[pokemon['Type 1'] != 'Water']

print('Medias:')
print(water_poke['Total'].mean())
print(no_water['Total'].mean())
print('Std:')
print(np.std(water_poke['Total']))
print(np.std(no_water['Total']))

Medias:
430.45535714285717
435.85901162790697
Std:
112.681828329091
121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
# Your code here:
t, p = scipy.stats.ttest_ind(water_poke['Total'], no_water['Total'], equal_var=False)
print(t, p)
if p < 0.05:  # null hypothesis: x comes from a normal distribution
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

-0.4638681676327303 0.6433915385821449
The null hypothesis cannot be rejected

Write your conclusion below.

In [14]:
# Your conclusions here:
'''Las medias son muy parecidas y el p-valor (0.64) nos indica que hay muchas semejanza entre los pokemon de agua y el resto'''

'Las medias son muy parecidas y el p-valor (0.64) nos indica que hay muchas semejanza entre los pokemon de agua y el resto'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [16]:
# Your code here:
from scipy.stats import ttest_rel

t,p = ttest_rel(pokemon['Attack'],pokemon['Defense'])

t,p

(4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:
'No existe una diferencia significativa entre los dos stats'

'No existe una diferencia significativa entre los dos stats'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [33]:
# Your code here:
t,p = ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

t,p

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

In [39]:
# Your conclusions here:
'''El numero es bastante grande, nos indica que no podemos afirmar que exista una diferencia significativa entre los stats '''

'El numero es bastante grande, nos indica que no podemos afirmar que exista una diferencia significativa entre los stats '

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [38]:
# Your code here:
scipy.stats.ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'],0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [34]:
# Your code here:
pokemon['Water'] = np.where(pokemon['Type 1']=='Water', 'Y', 'N')

x = pd.crosstab(pokemon['Legendary'],pokemon['Water'])
x

Water        N    Y
Legendary
False      627  108
True        61    4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [40]:
# Your code here:
chi2, p, dof, ex = chi2_contingency(x)
chi2, p, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [41]:
# Your answer here:
'''Con un 95% de confianza el p-valor debería haber sido menor a 0,05 para poder rechazar la hipótesis nula.'''

'Con un 95% de confianza el p-valor debería haber sido menor a 0,05 para poder rechazar la hipótesis nula.'