In [243]:
from pymongo import MongoClient
import pandas as pd

In [244]:
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

In [245]:
#Young Companies
ten_year_companies = list(db['companies'].find({'founded_year':{'$gte':2010}},{'name':1,'category_code':1,'total_money_raised':1,'founded_year':1,'offices':1}))

In [246]:
#Young Companies that have raised more than 1 million
more_than_1m = [element for element in ten_year_companies if element['total_money_raised'][len(element['total_money_raised'])-1] == 'M']

In [247]:
'There are '+str(len(more_than_1m))+' companies that have raised more than 1 million dollars and have less or equal than 10 years'

'There are 41 companies that have raised more than 1 million dollars and have less or equal than 10 years'

In [248]:
#One of these 41 companies have to be 2km near our company

In [249]:
companies_near = pd.DataFrame(more_than_1m)

In [250]:
companies_near

,_id,name,category_code,founded_year,total_money_raised,offices
0,52cdef7c4bab8bd675297f9e,GENWI,mobile,2010,$7.1M,"[{'description': '', 'address1': '4966 El Cami..."
1,52cdef7c4bab8bd6752980bb,Needium,enterprise,2010,$1M,"[{'description': 'Needium HQ', 'address1': '46..."
2,52cdef7c4bab8bd675298608,Magento,ecommerce,2010,$22.5M,"[{'description': None, 'address1': '', 'addres..."
3,52cdef7d4bab8bd675298970,Pixsta,web,2010,Â£3M,"[{'description': None, 'address1': '9 Thorpe C..."
4,52cdef7d4bab8bd675298dcc,Titan Gaming,games_video,2010,$1M,"[{'description': 'Santa Monica Office', 'addre..."
5,52cdef7d4bab8bd675298f74,SiSense,analytics,2010,$10M,"[{'description': 'World Headquarters', 'addres..."
6,52cdef7d4bab8bd675299583,Integrate,software,2010,$34.8M,"[{'description': 'Scottsdale HQ', 'address1': ..."
7,52cdef7d4bab8bd675299636,UsingMiles,travel,2010,$3.27M,"[{'description': 'Headquarters', 'address1': '..."
8,52cdef7d4bab8bd67529990d,Integrate,software,2010,$34.8M,"[{'description': 'Scottsdale HQ', 'address1': ..."
9,52cdef7d4bab8bd6752999c0,UsingMiles,travel,2010,$3.27M,"[{'description': 'Headquarters', 'address1': '..."
10,52cdef7d4bab8bd675299fd5,Webtab,mobile,2010,$2M,"[{'description': 'Corporate Headquarters', 'ad..."
11,52cdef7d4bab8bd67529a14a,Diffbot,analytics,2010,$2M,"[{'description': '', 'address1': '395 Page Mil..."
12,52cdef7d4bab8bd67529a1e3,Yipit,web,2010,$7.55M,"[{'description': 'HQ', 'address1': '3 W 18th',..."
13,52cdef7e4bab8bd67529a68e,FeedHenry,enterprise,2010,$9M,"[{'description': 'R&D Offices', 'address1': 'A..."
14,52cdef7e4bab8bd67529a810,Avenir Medical,biotech,2010,$4.03M,"[{'description': '', 'address1': '295 Hagey Bl..."
15,52cdef7e4bab8bd67529b158,BASH Gaming,games_video,2010,$1M,"[{'description': 'US Office', 'address1': '', ..."
16,52cdef7e4bab8bd67529b1f6,AppNeta,software,2010,$55.8M,"[{'description': 'AppNeta', 'address1': '285 S..."
17,52cdef7e4bab8bd67529b2a6,MyLikes,advertising,2010,$6.23M,"[{'description': '', 'address1': '1000 Brannan..."
18,52cdef7e4bab8bd67529b96c,Mashape,enterprise,2010,$1.6M,"[{'description': 'Mashape Lair', 'address1': '..."
19,52cdef7e4bab8bd67529bd23,Fliptop,enterprise,2010,$6.79M,"[{'description': 'Headquarters', 'address1': '..."
20,52cdef7f4bab8bd67529c1a8,ticketea,ecommerce,2010,$5.73M,"[{'description': 'Office', 'address1': 'Marque..."
21,52cdef7c4bab8bd675297f78,CircleUp,finance,2011,$9M,"[{'description': '', 'address1': '', 'address2..."
22,52cdef7c4bab8bd6752981dc,RazorGator,ecommerce,2011,$58.8M,"[{'description': None, 'address1': '11150 Sant..."
23,52cdef7c4bab8bd67529831a,Social Gaming Network,games_video,2011,$17.1M,"[{'description': 'HQ Los Angeles', 'address1':..."
24,52cdef7c4bab8bd6752985ac,Moblica,mobile,2011,$6M,"[{'description': 'HQ', 'address1': '88 Menache..."
25,52cdef7d4bab8bd6752995ff,travelmob,travel,2011,$1M,"[{'description': 'HQ', 'address1': '71 Ayer Ra..."
26,52cdef7d4bab8bd675299989,travelmob,travel,2011,$1M,"[{'description': 'HQ', 'address1': '71 Ayer Ra..."
27,52cdef7d4bab8bd67529a0b4,Emotive Communications,enterprise,2011,$14M,"[{'description': 'HQ', 'address1': '345 Califo..."
28,52cdef7e4bab8bd67529abc2,VisualOn,software,2011,$3.1M,"[{'description': 'Headquarters', 'address1': '..."
29,52cdef7e4bab8bd67529b3a8,Taggify,advertising,2011,$1M,"[{'description': 'Headquarters', 'address1': '..."
30,52cdef7f4bab8bd67529c6d4,Treehouse,education,2011,$19.4M,"[{'description': '', 'address1': '', 'address2..."
31,52cdef7c4bab8bd675297f94,PeekYou,search,2012,$1.83M,"[{'description': None, 'address1': None, 'addr..."
32,52cdef7c4bab8bd6752981a0,Pinger,messaging,2012,$18.5M,"[{'description': '', 'address1': '97 S. 2nd St..."
33,52cdef7c4bab8bd6752981d8,Widgetbox,other,2012,$14.5M,"[{'description': None, 'address1': None, 'addr..."
34,52cdef7c4bab8bd675298509,Skydeck,mobile,2012,$4M,"[{'description': '', 'address1': '330 Waverley..."
35,52cdef7e4bab8bd67529b58d,Pict,ecommerce,2012,$1.4M,"[{'description': '', 'address1': '', 'address2..."
36,52cdef7e4bab8bd67529bd37,Red Ambiental,cleantech,2012,$20M,"[{'description': '', 'address1': 'Adolfo LÃÂ³pe..."
37,52cdef7c4bab8bd675297fec,Fixya,web,2013,$8M,"[{'description': '', 'address1': 'One Franklin..."
38,52cdef7c4bab8bd67529801f,Wamba,web,2013,â¬3M,[]
39,52cdef7e4bab8bd67529b40e,Tongxue,web,2013,$6M,[]
40,52cdef7f4bab8bd67529bf69,VistaGen Therapeutics,biotech,2013,$41.3M,"[{'description': '', 'address1': '384 Oyster P..."

In [251]:
companies_near = companies_near.explode('offices')
offices_data = companies_near[["offices"]].apply(lambda r: r.offices, result_type="expand", axis=1)
final_data = pd.concat([companies_near,offices_data], axis=1)
final_data = final_data.drop(columns = ['offices'])

In [252]:
final_data = final_data.drop([38,39])

In [253]:
#Here we can select the companies with category code web, advertising, other, games_video, travel, mobile,  ecommerce

In [254]:
import math
def asGeoJSON(lat,lng):
    try:
        lat = float(lat)
        lng = float(lng)
        if not math.isnan(lat) and not math.isnan(lng):
            return {
                "type":"Point",
                "coordinates":[lng,lat]
            }
    except Exception:
        print("Invalid data")
        return None
        

final_data["location"] = final_data[["latitude","longitude"]].apply(lambda x:asGeoJSON(x.latitude,x.longitude), axis=1)
final_data[["latitude","longitude","location"]]

     latitude   longitude                                           location
0   33.817100 -111.903500  {'type': 'Point', 'coordinates': [-111.9035, 3...
1   45.504931  -73.568163  {'type': 'Point', 'coordinates': [-73.5681635,...
2   34.052187 -118.243425  {'type': 'Point', 'coordinates': [-118.243425,...
3   51.518190   -0.208979  {'type': 'Point', 'coordinates': [-0.208979, 5...
4   53.544711 -113.515769  {'type': 'Point', 'coordinates': [-113.515769,...
5         NaN         NaN                                               None
5         NaN         NaN                                               None
6   40.748104  -74.035379  {'type': 'Point', 'coordinates': [-74.0353787,...
6         NaN         NaN                                               None
6         NaN         NaN                                               None
6         NaN         NaN                                               None
7   39.749671 -104.999845  {'type': 'Point', 'coordinates': [-104.9998449...
8   40.748104  -74.035379  {'type': 'Point', 'coordinates': [-74.0353787,...
8         NaN         NaN                                               None
8         NaN         NaN                                               None
8         NaN         NaN                                               None
9   39.749671 -104.999845  {'type': 'Point', 'coordinates': [-104.9998449...
10        NaN         NaN                                               None
11        NaN         NaN                                               None
12  40.744618  -73.987764  {'type': 'Point', 'coordinates': [-73.987764, ...
13        NaN         NaN                                               None
13  42.485102  -71.208921  {'type': 'Point', 'coordinates': [-71.2089211,...
14        NaN         NaN                                               None
15  37.556171 -122.078063  {'type': 'Point', 'coordinates': [-122.0780632...
15  12.971606   77.594376  {'type': 'Point', 'coordinates': [77.594376, 1...
16  42.318138  -71.247560  {'type': 'Point', 'coordinates': [-71.24756, 4...
17  37.777995 -122.408914  {'type': 'Point', 'coordinates': [-122.408914,...
18        NaN         NaN                                               None
19  37.775206 -122.419209  {'type': 'Point', 'coordinates': [-122.419209,...
20  40.445515   -3.706176  {'type': 'Point', 'coordinates': [-3.7061764, ...
21        NaN         NaN                                               None
22  34.047312 -118.445243  {'type': 'Point', 'coordinates': [-118.445243,...
23  37.446823 -122.161523  {'type': 'Point', 'coordinates': [-122.161523,...
23  34.069849 -118.405418  {'type': 'Point', 'coordinates': [-118.4054182...
24  32.055400   34.759500  {'type': 'Point', 'coordinates': [34.7595, 32....
25  21.303049 -157.789070  {'type': 'Point', 'coordinates': [-157.78907, ...
26  21.303049 -157.789070  {'type': 'Point', 'coordinates': [-157.78907, ...
27        NaN         NaN                                               None
28  37.270518 -121.955879  {'type': 'Point', 'coordinates': [-121.955879,...
29        NaN         NaN                                               None
30        NaN         NaN                                               None
30        NaN         NaN                                               None
31  40.757929  -73.985506  {'type': 'Point', 'coordinates': [-73.985506, ...
32        NaN         NaN                                               None
33  37.798853 -122.398599  {'type': 'Point', 'coordinates': [-122.398599,...
34  37.564538 -122.325470  {'type': 'Point', 'coordinates': [-122.3254705...
35        NaN         NaN                                               None
36        NaN         NaN                                               None
37  37.566879 -122.323895  {'type': 'Point', 'coordinates': [-122.323895,...
40  37.665648 -122.384349  {'type': 'Point', 'coordinates': [-122.3843489...

In [255]:
#Find lat and long for the NaN values
import requests
def geocode(address):
    data = requests.get(f"https://geocode.xyz/{address}?json=1").json()
    try:
        return {
            "type":"Point",
            "coordinates":[float(data["longt"]),float(data["latt"])]
        }
    except:
        return None

In [256]:
error_data = final_data[final_data['location'].isnull() == True]

In [257]:
#We drop the 2 last rows because we don't have any information about location
error_data = error_data.drop(36)

In [258]:
error_data = error_data.drop(columns = ['location'])
locations = [geocode((row['address1'])+' '+(row['zip_code'])+ ' '+ row['city']) for _, row in error_data.iterrows()]

In [259]:
error_data['location'] = locations

In [260]:
error_data.loc[error_data['location'].isnull() == True]

Empty DataFrame
Columns: [_id, name, category_code, founded_year, total_money_raised, description, address1, address2, zip_code, city, state_code, country_code, latitude, longitude, location]
Index: []

In [261]:
final_data = final_data[final_data['latitude'].isnull()==False]
final_data = pd.concat([final_data,error_data], axis = 0)

In [262]:
final_data = final_data.drop(columns = "_id")
final_data

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,location
0,GENWI,mobile,2010,$7.1M,,4966 El Camino Real,Suite 200,94022,Los Altos,CA,USA,33.817100,-111.903500,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
1,Needium,enterprise,2010,$1M,Needium HQ,460 Ste-Catherine W. #402,,H3B1A7,Montreal,None,CAN,45.504931,-73.568163,"{'type': 'Point', 'coordinates': [-73.5681635,..."
2,Magento,ecommerce,2010,$22.5M,None,,,,Los Angeles,CA,USA,34.052187,-118.243425,"{'type': 'Point', 'coordinates': [-118.243425,..."
3,Pixsta,web,2010,Â£3M,None,9 Thorpe Close,Portobello Rd,W10 5XL,London,None,GBR,51.518190,-0.208979,"{'type': 'Point', 'coordinates': [-0.208979, 5..."
4,Titan Gaming,games_video,2010,$1M,Santa Monica Office,"1351 4th Street, 4th floor",,90401,Santa Monica,CA,USA,53.544711,-113.515769,"{'type': 'Point', 'coordinates': [-113.515769,..."
6,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,..."
7,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449..."
8,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,..."
9,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449..."
12,Yipit,web,2010,$7.55M,HQ,3 W 18th,2nd Floor,10011,New York,NY,USA,40.744618,-73.987764,"{'type': 'Point', 'coordinates': [-73.987764, ..."
13,FeedHenry,enterprise,2010,$9M,US Offices,15 New England Executive Park,,01803,Burlington,MA,USA,42.485102,-71.208921,"{'type': 'Point', 'coordinates': [-71.2089211,..."
15,BASH Gaming,games_video,2010,$1M,US Office,,,94555,Fremont,CA,USA,37.556171,-122.078063,"{'type': 'Point', 'coordinates': [-122.0780632..."
15,BASH Gaming,games_video,2010,$1M,India Office,,,,Bangalore,None,IND,12.971606,77.594376,"{'type': 'Point', 'coordinates': [77.594376, 1..."
16,AppNeta,software,2010,$55.8M,AppNeta,285 Summer Street,4th Floor,02127,SOUTH BOSTON,MA,USA,42.318138,-71.247560,"{'type': 'Point', 'coordinates': [-71.24756, 4..."
17,MyLikes,advertising,2010,$6.23M,,"1000 Brannan St, #502",,94103,San Francisco,CA,USA,37.777995,-122.408914,"{'type': 'Point', 'coordinates': [-122.408914,..."
19,Fliptop,enterprise,2010,$6.79M,Headquarters,580 Howard Street,Suite 201,94105,San Francisco,CA,USA,37.775206,-122.419209,"{'type': 'Point', 'coordinates': [-122.419209,..."
20,ticketea,ecommerce,2010,$5.73M,Office,Marques de Lema,7,28003,Madrid,None,ESP,40.445515,-3.706176,"{'type': 'Point', 'coordinates': [-3.7061764, ..."
22,RazorGator,ecommerce,2011,$58.8M,None,11150 Santa Monica Blvd. Suite 500,None,90025,Los Angeles,CA,USA,34.047312,-118.445243,"{'type': 'Point', 'coordinates': [-118.445243,..."
23,Social Gaming Network,games_video,2011,$17.1M,HQ Los Angeles,9570 W. Pico Blvd 3rd Floor,,90035,Los Angeles,CA,USA,37.446823,-122.161523,"{'type': 'Point', 'coordinates': [-122.161523,..."
23,Social Gaming Network,games_video,2011,$17.1M,,9606 S. Santa Monica Blvd,2nd Floor,90210,Beverly Hills,CA,USA,34.069849,-118.405418,"{'type': 'Point', 'coordinates': [-118.4054182..."
24,Moblica,mobile,2011,$6M,HQ,88 Menachem Begin Street,,67138,Tel Aviv,None,ISR,32.055400,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32...."
25,travelmob,travel,2011,$1M,HQ,71 Ayer Rajah Crescent,06-20,139951,Singapore,None,SGP,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ..."
26,travelmob,travel,2011,$1M,HQ,71 Ayer Rajah Crescent,06-20,139951,Singapore,None,SGP,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ..."
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,USA,37.270518,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,..."
31,PeekYou,search,2012,$1.83M,None,None,None,None,New York,NY,USA,40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ..."
33,Widgetbox,other,2012,$14.5M,None,None,None,94111,San Francisco,CA,USA,37.798853,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,..."
34,Skydeck,mobile,2012,$4M,,330 Waverley St.,Suite 3,94301,Palo Alto,CA,USA,37.564538,-122.325470,"{'type': 'Point', 'coordinates': [-122.3254705..."
37,Fixya,web,2013,$8M,,One Franklin Parkway,"Building 910, Suite 110",94401,San Mateo,CA,USA,37.566879,-122.323895,"{'type': 'Point', 'coordinates': [-122.323895,..."
40,VistaGen Therapeutics,biotech,2013,$41.3M,,"384 Oyster Point Blvd., Suite #8",,94080,South San Francisco,CA,USA,37.665648,-122.384349,"{'type': 'Point', 'coordinates': [-122.3843489..."
5,SiSense,analytics,2010,$10M,World Headquarters,36 Hanamal st.,,,Tel Aviv,None,ISR,NaN,NaN,"{'type': 'Point', 'coordinates': [34.79268, 32..."
5,SiSense,analytics,2010,$10M,SiSense U.S,14 Wall Street,,,NYC,NY,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-74.06464, 4..."
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ..."
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ..."
6,Integrate,software,2010,$34.8M,Boston Office,239 South Street,4th Floor,01748,Hopkinton,MA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-71.53827, 4..."
8,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ..."
8,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ..."
8,Integrate,software,2010,$34.8M,Boston Office,239 South Street,4th Floor,01748,Hopkinton,MA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-71.53827, 4..."
10,Webtab,mobile,2010,$2M,Corporate Headquarters,847 Sansome Street,Suite L,94111,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.41026, ..."
11,Diffbot,analytics,2010,$2M,,395 Page Mill Rd,,94306,Palo Alto,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.13972, ..."
13,FeedHenry,enterprise,2010,$9M,R&D Offices,ArcLabs Research & Innovation Building,"WIT West Campus, Carriganore",Waterford,Waterford,None,IRL,NaN,NaN,"{'type': 'Point', 'coordinates': [-83.38322, 4..."
14,Avenir Medical,biotech,2010,$4.03M,,295 Hagey Blvd,"1st Floor, West Entrance",N2L 6R5,"Waterloo, ON",None,CAN,NaN,NaN,"{'type': 'Point', 'coordinates': [-92.34007, 4..."
18,Mashape,enterprise,2010,$1.6M,Mashape Lair,433 Bryant St.,,94107,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.39419, ..."
21,CircleUp,finance,2011,$9M,,,,,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2..."
27,Emotive Communications,enterprise,2011,$14M,HQ,345 California Street,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40353, ..."
29,Taggify,advertising,2011,$1M,Headquarters,Concepcion Arenal 3425,3rd floor Office 44,1414,Buenos Aires,None,ARG,NaN,NaN,"{'type': 'Point', 'coordinates': [-58.4479, -3..."
30,Treehouse,education,2011,$19.4M,,,,,Orlando,FL,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-81.35939, 2..."
30,Treehouse,education,2011,$19.4M,,,,,Portland,OR,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-87.68112, 4..."
32,Pinger,messaging,2012,$18.5M,,97 S. 2nd Street,Suite 210,95113,San Jose,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-89.60421, 4..."
35,Pict,ecommerce,2012,$1.4M,,,,94105,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2..."

In [263]:
locations = final_data['location'].tolist()
#coords = [location['location']['coordinates'] for _,location in final_data.iterrows()]
coords = [location["coordinates"] for location in locations]
coords

[[-111.9035, 33.8171],
 [-73.5681635, 45.5049305],
 [-118.243425, 34.052187],
 [-0.208979, 51.51819],
 [-113.515769, 53.544711],
 [-74.0353787, 40.7481039],
 [-104.9998449, 39.749671],
 [-74.0353787, 40.7481039],
 [-104.9998449, 39.749671],
 [-73.987764, 40.744618],
 [-71.2089211, 42.4851017],
 [-122.0780632, 37.5561712],
 [77.594376, 12.971606],
 [-71.24756, 42.318138],
 [-122.408914, 37.777995],
 [-122.419209, 37.775206],
 [-3.7061764, 40.4455155],
 [-118.445243, 34.047312],
 [-122.161523, 37.446823],
 [-118.4054182, 34.0698494],
 [34.7595, 32.0554],
 [-157.78907, 21.303049],
 [-157.78907, 21.303049],
 [-121.955879, 37.270518],
 [-73.985506, 40.757929],
 [-122.398599, 37.798853],
 [-122.3254705, 37.5645375],
 [-122.323895, 37.566879],
 [-122.3843489, 37.6656476],
 [34.79268, 32.07661],
 [-74.06464, 40.18184],
 [-104.99648, 39.75284],
 [-122.40412, 37.78788],
 [-71.53827, 42.19002],
 [-104.99648, 39.75284],
 [-122.40412, 37.78788],
 [-71.53827, 42.19002],
 [-122.41026, 37.6167],
 [-122.13972, 37.42482],
 [-83.38322, 42.66078],
 [-92.34007, 42.48597],
 [-122.39419, 37.7823],
 [-15.41914, 27.99493],
 [-122.40353, 37.79275],
 [-58.4479, -34.58783],
 [-81.35939, 28.5175],
 [-87.68112, 41.65975],
 [-89.60421, 40.3056],
 [-15.41914, 27.99493]]

In [264]:
#This is one google request
def google_request(typ,keyword,lng,lat):
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lng}&rankby=distance&type={typ}&keyword={keyword}&key=AIzaSyDImK5N54RYEB780GejD8hmVppVoTEJQT4"
    return requests.get(url).json()

#This generates one google request for each selected company
def get_places_json(typ,keyword):
    info = [google_request(typ,keyword,lng,lat) for [lng,lat] in coords]
    return info

#This gets the coords in location type of each google request
def get_places_coords(typ,keyword):
    info_coords = [{'type': 'Point', 'coordinates': [element['results'][0]['geometry']['location']['lng'],element ['results'][0]['geometry']['location']['lat']]} if len(element['results'])>0 else None for element in get_places_json(typ,keyword)]
    final_data[keyword] = info_coords

In [265]:
get_places_coords('restaurant','Starbucks')
get_places_coords('school','school')
get_places_coords('restaurant','vegan')
get_places_coords('airport','airport')

In [266]:
final_data

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,location,Starbucks,school,vegan,airport
0,GENWI,mobile,2010,$7.1M,,4966 El Camino Real,Suite 200,94022,Los Altos,CA,USA,33.817100,-111.903500,"{'type': 'Point', 'coordinates': [-111.9035, 3...",None,"{'type': 'Point', 'coordinates': [-111.8899998...","{'type': 'Point', 'coordinates': [-111.923998,...","{'type': 'Point', 'coordinates': [-111.8982625..."
1,Needium,enterprise,2010,$1M,Needium HQ,460 Ste-Catherine W. #402,,H3B1A7,Montreal,None,CAN,45.504931,-73.568163,"{'type': 'Point', 'coordinates': [-73.5681635,...",None,"{'type': 'Point', 'coordinates': [-73.5676861,...","{'type': 'Point', 'coordinates': [-73.5710035,...","{'type': 'Point', 'coordinates': [-73.55597209..."
2,Magento,ecommerce,2010,$22.5M,None,,,,Los Angeles,CA,USA,34.052187,-118.243425,"{'type': 'Point', 'coordinates': [-118.243425,...",None,"{'type': 'Point', 'coordinates': [-118.243757,...","{'type': 'Point', 'coordinates': [-118.2398173...","{'type': 'Point', 'coordinates': [-118.2778162..."
3,Pixsta,web,2010,Â£3M,None,9 Thorpe Close,Portobello Rd,W10 5XL,London,None,GBR,51.518190,-0.208979,"{'type': 'Point', 'coordinates': [-0.208979, 5...",None,"{'type': 'Point', 'coordinates': [-0.2080987, ...","{'type': 'Point', 'coordinates': [-0.2104038, ...","{'type': 'Point', 'coordinates': [-0.1906386, ..."
4,Titan Gaming,games_video,2010,$1M,Santa Monica Office,"1351 4th Street, 4th floor",,90401,Santa Monica,CA,USA,53.544711,-113.515769,"{'type': 'Point', 'coordinates': [-113.515769,...",None,"{'type': 'Point', 'coordinates': [-113.5149418...","{'type': 'Point', 'coordinates': [-113.5181415...","{'type': 'Point', 'coordinates': [-113.4963478..."
6,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,..."
7,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
8,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,..."
9,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
12,Yipit,web,2010,$7.55M,HQ,3 W 18th,2nd Floor,10011,New York,NY,USA,40.744618,-73.987764,"{'type': 'Point', 'coordinates': [-73.987764, ...",None,"{'type': 'Point', 'coordinates': [-73.9881912,...","{'type': 'Point', 'coordinates': [-73.99039119...","{'type': 'Point', 'coordinates': [-73.9975264,..."
13,FeedHenry,enterprise,2010,$9M,US Offices,15 New England Executive Park,,01803,Burlington,MA,USA,42.485102,-71.208921,"{'type': 'Point', 'coordinates': [-71.2089211,...",None,"{'type': 'Point', 'coordinates': [-71.1976067,...","{'type': 'Point', 'coordinates': [-71.212485, ...","{'type': 'Point', 'coordinates': [-71.235866, ..."
15,BASH Gaming,games_video,2010,$1M,US Office,,,94555,Fremont,CA,USA,37.556171,-122.078063,"{'type': 'Point', 'coordinates': [-122.0780632...",None,"{'type': 'Point', 'coordinates': [-122.0638644...","{'type': 'Point', 'coordinates': [-122.0021126...","{'type': 'Point', 'coordinates': [-121.9782933..."
15,BASH Gaming,games_video,2010,$1M,India Office,,,,Bangalore,None,IND,12.971606,77.594376,"{'type': 'Point', 'coordinates': [77.594376, 1...","{'type': 'Point', 'coordinates': [77.588036899...","{'type': 'Point', 'coordinates': [77.5945627, ...","{'type': 'Point', 'coordinates': [77.596209199...","{'type': 'Point', 'coordinates': [77.5949925, ..."
16,AppNeta,software,2010,$55.8M,AppNeta,285 Summer Street,4th Floor,02127,SOUTH BOSTON,MA,USA,42.318138,-71.247560,"{'type': 'Point', 'coordinates': [-71.24756, 4...",None,"{'type': 'Point', 'coordinates': [-71.2485195,...","{'type': 'Point', 'coordinates': [-71.205409, ...","{'type': 'Point', 'coordinates': [-71.22447319..."
17,MyLikes,advertising,2010,$6.23M,,"1000 Brannan St, #502",,94103,San Francisco,CA,USA,37.777995,-122.408914,"{'type': 'Point', 'coordinates': [-122.408914,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4095385...","{'type': 'Point', 'coordinates': [-122.4112304...","{'type': 'Point', 'coordinates': [-122.4104463..."
19,Fliptop,enterprise,2010,$6.79M,Headquarters,580 Howard Street,Suite 201,94105,San Francisco,CA,USA,37.775206,-122.419209,"{'type': 'Point', 'coordinates': [-122.419209,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4187581...","{'type': 'Point', 'coordinates': [-122.416294,...","{'type': 'Point', 'coordinates': [-122.4194155..."
20,ticketea,ecommerce,2010,$5.73M,Office,Marques de Lema,7,28003,Madrid,None,ESP,40.445515,-3.706176,"{'type': 'Point', 'coordinates': [-3.7061764, ...","{'type': 'Point', 'coordinates': [-3.6952059, ...","{'type': 'Point', 'coordinates': [-3.704604799...","{'type': 'Point', 'coordinates': [-3.7048417, ...","{'type': 'Point', 'coordinates': [-3.699849599..."
22,RazorGator,ecommerce,2011,$58.8M,None,11150 Santa Monica Blvd. Suite 500,None,90025,Los Angeles,CA,USA,34.047312,-118.445243,"{'type': 'Point', 'coordinates': [-118.445243,...",None,"{'type': 'Point', 'coordinates': [-118.4450534...","{'type': 'Point', 'coordinates': [-118.4515095...","{'type': 'Point', 'coordinates': [-118.4473286..."
23,Social Gaming Network,games_video,2011,$17.1M,HQ Los Angeles,9570 W. Pico Blvd 3rd Floor,,90035,Los Angeles,CA,USA,37.446823,-122.161523,"{'type': 'Point', 'coordinates': [-122.161523,...",None,"{'type': 'Point', 'coordinates': [-122.1583604...","{'type': 'Point', 'coordinates': [-122.1609111...","{'type': 'Point', 'coordinates': [-122.1745936..."
23,Social Gaming Network,games_video,2011,$17.1M,,9606 S. Santa Monica Blvd,2nd Floor,90210,Beverly Hills,CA,USA,34.069849,-118.405418,"{'type': 'Point', 'coordinates': [-118.4054182...",None,"{'type': 'Point', 'coordinates': [-118.4076172...","{'type': 'Point', 'coordinates': [-118.4014424...","{'type': 'Point', 'coordinates': [-118.3723712..."
24,Moblica,mobile,2011,$6M,HQ,88 Menachem Begin Street,,67138,Tel Aviv,None,ISR,32.055400,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32....","{'type': 'Point', 'coordinates': [34.7574896, ...","{'type': 'Point', 'coordinates': [34.7544754, ...","{'type': 'Point', 'coordinates': [34.7588761, ...","{'type': 'Point', 'coordinates': [34.7527171, ..."
25,travelmob,travel,2011,$1M,HQ,71 Ayer Rajah Crescent,06-20,139951,Singapore,None,SGP,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ...",None,"{'type': 'Point', 'coordinates': [-157.7897104...","{'type': 'Point', 'coordinates': [-157.8087545...","{'type': 'Point', 'coordinates': [-157.8514341..."
26,travelmob,travel,2011,$1M,HQ,71 Ayer Rajah Crescent,06-20,139951,Singapore,None,SGP,21.303049,-157.789070,"{'type': 'Point', 'coordinates': [-157.78907, ...",None,"{'type': 'Point', 'coordinates': [-157.7897104...","{'type': 'Point', 'coordinates': [-157.8087545...","{'type': 'Point', 'coordinates': [-157.8514341..."
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,USA,37.270518,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,...","{'type': 'Point', 'coordinates': [-122.0425329...","{'type': 'Point', 'coordinates': [-121.9640873...","{'type': 'Point', 'coordinates': [-121.9647708...","{'type': 'Point', 'coordinates': [-121.9299361..."
31,PeekYou,search,2012,$1.83M,None,None,None,None,New York,NY,USA,40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ...","{'type': 'Point', 'coordinates': [-73.9863503,...","{'type': 'Point', 'coordinates': [-73.9843105,...","{'type': 'Point', 'coordinates': [-73.9866258,...","{'type': 'Point', 'coordinates': [-73.9721185,..."
33,Widgetbox,other,2012,$14.5M,None,None,None,94111,San Francisco,CA,USA,37.798853,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4014635...","{'type': 'Point', 'coordinates': [-122.3996037...","{'type': 'Point', 'coordinates': [-122.4084994..."
34,Skydeck,mobile,2012,$4M,,330 Waverley St.,Suite 3,94301,Palo Alto,CA,USA,37.564538,-122.325470,"{'type': 'Point', 'coordinates': [-122.3254705...",None,"{'type': 'Point', 'coordinates': [-122.3251699...","{'type': 'Point', 'coordinates': [-122.3259359...","{'type': 'Point', 'coordinates': [-122.3789554..."
37,Fixya,web,2013,$8M,,One Franklin Parkway,"Building 910, Suite 110",94401,San Mateo,CA,USA,37.566879,-122.323895,"{'type': 'Point', 'coordinates': [-122.323895,...",None,"{'type': 'Point', 'coordinates': [-122.3270935...","{'type': 'Point', 'coordinates': [-122.3235943...","{'type': 'Point', 'coordinates': [-122.3767335..."
40,VistaGen Therapeutics,biotech,2013,$41.3M,,"384 Oyster Point Blvd., Suite #8",,94080,South San Francisco,CA,USA,37.665648,-122.384349,"{'type': 'Point', 'coordinates': [-122.3843489...",None,"{'type': 'Point', 'coordinates': [-122.3994219...","{'type': 'Point', 'coordinates': [-122.4092804...","{'type': 'Point', 'coordinates': [-122.3884269..."
5,SiSense,analytics,2010,$10M,World Headquarters,36 Hanamal st.,,,Tel Aviv,None,ISR,NaN,NaN,"{'type': 'Point', 'coordinates': [34.79268, 32...","{'type': 'Point', 'coordinates': [34.7698466, ...","{'type': 'Point', 'coordinates': [34.7954404, ...","{'type': 'Point', 'coordinates': [34.7848618, ...","{'type': 'Point', 'coordinates': [34.8878467, ..."
5,SiSense,analytics,2010,$10M,SiSense U.S,14 Wall Street,,,NYC,NY,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-74.06464, 4...",None,"{'type': 'Point', 'coordinates': [-74.063086, ...","{'type': 'Point', 'coordinates': [-74.04988709...","{'type': 'Point', 'coordinates': [-74.04121200..."
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994..."
6,Integrate,software,2010,$34.8M,Boston Office,239 South Street,4th Floor,01748,Hopkinton,MA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-71.53827, 4...",None,"{'type': 'Point', 'coordinates': [-71.52923009...","{'type': 'Point', 'coordinates': [-71.5250101,...","{'type': 'Point', 'coordinates': [-71.51070709..."
8,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
8,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994..."
8,Integrate,software,2010,$34.8M,Boston Office,239 South Street,4th Floor,01748,Hopkinton,MA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-71.53827, 4...",None,"{'type': 'Point', 'coordinates': [-71.52923009...","{'type': 'Point', 'coordinates': [-71.5250101,...","{'type': 'Point', 'coordinates': [-71.51070709..."
10,Webtab,mobile,2010,$2M,Corporate Headquarters,847 Sansome Street,Suite L,94111,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.41026, ...",None,"{'type': 'Point', 'coordinates': [-122.4157369...","{'type': 'Point', 'coordinates': [-122.411028,...","{'type': 'Point', 'coordinates': [-122.3922954..."
11,Diffbot,analytics,2010,$2M,,395 Page Mill Rd,,94306,Palo Alto,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.13972, ...",None,"{'type': 'Point', 'coordinates': [-122.1467268...","{'type': 'Point', 'coordinates': [-122.1609667...","{'type': 'Point', 'coordinates': [-122.1745936..."
13,FeedHenry,enterprise,2010,$9M,R&D Offices,ArcLabs Research & Innovation Building,"WIT West Campus, Carriganore",Waterford,Waterford,None,IRL,NaN,NaN,"{'type': 'Point', 'coordinates': [-83.38322, 4...",None,"{'type': 'Point', 'coordinates': [-83.3823946,...","{'type': 'Point', 'coordinates': [-83.3930751,...","{'type': 'Point', 'coordinates': [-83.4202318,..."
14,Avenir Medical,biotech,2010,$4.03M,,295 Hagey Blvd,"1st Floor, West Entrance",N2L 6R5,"Waterloo, ON",None,CAN,NaN,NaN,"{'type': 'Point', 'coordinates': [-92.34007, 4...",None,"{'type': 'Point', 'coordinates': [-92.3336387,...","{'type': 'Point', 'coordinates': [-92.33848230...","{'type': 'Point', 'coordinates': [-92.327963, ..."
18,Mashape,enterprise,2010,$1.6M,Mashape Lair,433 Bryant St.,,94107,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.39419, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.3936402...","{'type': 'Point', 'coordinates': [-122.406012,...","{'type': 'Point', 'coordinates': [-122.4104463..."
21,CircleUp,finance,2011,$9M,,,,,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,..."
27,Emotive Communications,enterprise,2011,$14M,HQ,345 California Street,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40353, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4054519...","{'type': 'Point', 'coordinates': [-122.4039415...","{'type': 'Point', 'coordinates': [-122.4084994..."
29,Taggify,advertising,2011,$1M,Headquarters,Concepcion Arenal 3425,3rd floor Office 44,1414,Buenos Aires,None,ARG,NaN,NaN,"{'type': 'Point', 'coordinates': [-58.4479, -3...","{'type': 'Point', 'coordinates': [-58.4061742,...","{'type': 'Point', 'coordinates': [-58.44825059...","{'type': 'Point', 'coordinates': [-58.45082379...","{'type': 'Point', 'coordinates': [-58.4231789,..."
30,Treehouse,education,2011,$19.4M,,,,,Orlando,FL,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-81.35939, 2...",None,"{'type': 'Point', 'coordinates': [-81.3591091,...","{'type': 'Point', 'coordinates': [-81.35128979...","{'type': 'Point', 'coordinates': [-81.38312549..."
30,Treehouse,education,2011,$19.4M,,,,,Portland,OR,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-87.68112, 4...",None,"{'type': 'Point', 'coordinates': [-87.68439149...","{'type': 'Point', 'coordinates': [-87.6013127,...","{'type': 'Point', 'coordinates': [-87.7387302,..."
32,Pinger,messaging,2012,$18.5M,,97 S. 2nd Street,Suite 210,95113,San Jose,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-89.60421, 4...",None,"{'type': 'Point', 'coordinates': [-89.58385, 4...","{'type': 'Point', 'coordinates': [-89.7808297,...","{'type': 'Point', 'coordinates': [-89.5820473,..."
35,Pict,ecommerce,2012,$1.4M,,,,94105,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,..."

In [267]:
#Drop the companies that don't have starbucks near
final_data = final_data.loc[final_data['Starbucks'].isnull() == False]
final_data

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,location,Starbucks,school,vegan,airport
6,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,..."
7,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
8,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,USA,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,..."
9,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,USA,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
15,BASH Gaming,games_video,2010,$1M,India Office,,,,Bangalore,None,IND,12.971606,77.594376,"{'type': 'Point', 'coordinates': [77.594376, 1...","{'type': 'Point', 'coordinates': [77.588036899...","{'type': 'Point', 'coordinates': [77.5945627, ...","{'type': 'Point', 'coordinates': [77.596209199...","{'type': 'Point', 'coordinates': [77.5949925, ..."
17,MyLikes,advertising,2010,$6.23M,,"1000 Brannan St, #502",,94103,San Francisco,CA,USA,37.777995,-122.408914,"{'type': 'Point', 'coordinates': [-122.408914,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4095385...","{'type': 'Point', 'coordinates': [-122.4112304...","{'type': 'Point', 'coordinates': [-122.4104463..."
19,Fliptop,enterprise,2010,$6.79M,Headquarters,580 Howard Street,Suite 201,94105,San Francisco,CA,USA,37.775206,-122.419209,"{'type': 'Point', 'coordinates': [-122.419209,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4187581...","{'type': 'Point', 'coordinates': [-122.416294,...","{'type': 'Point', 'coordinates': [-122.4194155..."
20,ticketea,ecommerce,2010,$5.73M,Office,Marques de Lema,7,28003,Madrid,None,ESP,40.445515,-3.706176,"{'type': 'Point', 'coordinates': [-3.7061764, ...","{'type': 'Point', 'coordinates': [-3.6952059, ...","{'type': 'Point', 'coordinates': [-3.704604799...","{'type': 'Point', 'coordinates': [-3.7048417, ...","{'type': 'Point', 'coordinates': [-3.699849599..."
24,Moblica,mobile,2011,$6M,HQ,88 Menachem Begin Street,,67138,Tel Aviv,None,ISR,32.055400,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32....","{'type': 'Point', 'coordinates': [34.7574896, ...","{'type': 'Point', 'coordinates': [34.7544754, ...","{'type': 'Point', 'coordinates': [34.7588761, ...","{'type': 'Point', 'coordinates': [34.7527171, ..."
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,USA,37.270518,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,...","{'type': 'Point', 'coordinates': [-122.0425329...","{'type': 'Point', 'coordinates': [-121.9640873...","{'type': 'Point', 'coordinates': [-121.9647708...","{'type': 'Point', 'coordinates': [-121.9299361..."
31,PeekYou,search,2012,$1.83M,None,None,None,None,New York,NY,USA,40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ...","{'type': 'Point', 'coordinates': [-73.9863503,...","{'type': 'Point', 'coordinates': [-73.9843105,...","{'type': 'Point', 'coordinates': [-73.9866258,...","{'type': 'Point', 'coordinates': [-73.9721185,..."
33,Widgetbox,other,2012,$14.5M,None,None,None,94111,San Francisco,CA,USA,37.798853,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4014635...","{'type': 'Point', 'coordinates': [-122.3996037...","{'type': 'Point', 'coordinates': [-122.4084994..."
5,SiSense,analytics,2010,$10M,World Headquarters,36 Hanamal st.,,,Tel Aviv,None,ISR,NaN,NaN,"{'type': 'Point', 'coordinates': [34.79268, 32...","{'type': 'Point', 'coordinates': [34.7698466, ...","{'type': 'Point', 'coordinates': [34.7954404, ...","{'type': 'Point', 'coordinates': [34.7848618, ...","{'type': 'Point', 'coordinates': [34.8878467, ..."
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994..."
8,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,..."
8,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994..."
18,Mashape,enterprise,2010,$1.6M,Mashape Lair,433 Bryant St.,,94107,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.39419, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.3936402...","{'type': 'Point', 'coordinates': [-122.406012,...","{'type': 'Point', 'coordinates': [-122.4104463..."
21,CircleUp,finance,2011,$9M,,,,,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,..."
27,Emotive Communications,enterprise,2011,$14M,HQ,345 California Street,10th Floor,94104,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40353, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4054519...","{'type': 'Point', 'coordinates': [-122.4039415...","{'type': 'Point', 'coordinates': [-122.4084994..."
29,Taggify,advertising,2011,$1M,Headquarters,Concepcion Arenal 3425,3rd floor Office 44,1414,Buenos Aires,None,ARG,NaN,NaN,"{'type': 'Point', 'coordinates': [-58.4479, -3...","{'type': 'Point', 'coordinates': [-58.4061742,...","{'type': 'Point', 'coordinates': [-58.44825059...","{'type': 'Point', 'coordinates': [-58.45082379...","{'type': 'Point', 'coordinates': [-58.4231789,..."
35,Pict,ecommerce,2012,$1.4M,,,,94105,San Francisco,CA,USA,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,..."

In [268]:
#We give relevance 1 to companies specialised in design, otherwise relevance 10
final_data['relevance'] = [1 if element['category_code'] == 'game_video' or element['category_code'] == 'software' else 10 for _,element in final_data.iterrows()]

/Users/luciasuelves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [269]:
#Prepare coordinates to create one polygon per row
info = [[(element[val]['coordinates'][0],element[val]['coordinates'][1]) for val in ['location','airport','Starbucks','school','vegan']] for _,element in final_data.iterrows()]
info

[[(-74.0353787, 40.7481039),
  (-73.9975264, 40.736988),
  (-74.0056597, 40.7416944),
  (-74.03322639999999, 40.7475621),
  (-74.00634389999999, 40.7424547)],
 [(-104.9998449, 39.749671),
  (-104.990251, 39.7392358),
  (-105.0059041, 39.7452649),
  (-105.0008177, 39.7502849),
  (-104.9980718, 39.7495725)],
 [(-74.0353787, 40.7481039),
  (-73.9975264, 40.736988),
  (-74.0056597, 40.7416944),
  (-74.03322639999999, 40.7475621),
  (-74.00634389999999, 40.7424547)],
 [(-104.9998449, 39.749671),
  (-104.990251, 39.7392358),
  (-105.0059041, 39.7452649),
  (-105.0008177, 39.7502849),
  (-104.9980718, 39.7495725)],
 [(77.594376, 12.971606),
  (77.5949925, 12.9723035),
  (77.58803689999999, 12.9858773),
  (77.5945627, 12.9715987),
  (77.59620919999999, 12.971721)],
 [(-122.408914, 37.777995),
  (-122.4104463, 37.7857289),
  (-122.4146525, 37.8081104),
  (-122.4095385, 37.7789757),
  (-122.4112304, 37.781266)],
 [(-122.419209, 37.775206),
  (-122.4194155, 37.7749295),
  (-122.4146525, 37.8081104),
  (-122.4187581, 37.7766262),
  (-122.416294, 37.7778753)],
 [(-3.7061764, 40.4455155),
  (-3.699849599999999, 40.4345051),
  (-3.6952059, 40.4479271),
  (-3.704604799999999, 40.4449104),
  (-3.7048417, 40.4428361)],
 [(34.7595, 32.0554),
  (34.7527171, 31.9680735),
  (34.7574896, 32.0516983),
  (34.7544754, 32.0536761),
  (34.7588761, 32.0523437)],
 [(-121.955879, 37.270518),
  (-121.9299361, 37.3571053),
  (-122.0425329, 36.9637444),
  (-121.9640873, 37.2665726),
  (-121.9647708, 37.2937332)],
 [(-73.985506, 40.757929),
  (-73.9721185, 40.742297),
  (-73.9863503, 40.7596825),
  (-73.9843105, 40.7579904),
  (-73.9866258, 40.7607069)],
 [(-122.398599, 37.798853),
  (-122.4084994, 37.7909427),
  (-122.4146525, 37.8081104),
  (-122.4014635, 37.801777),
  (-122.3996037, 37.7942185)],
 [(34.79268, 32.07661),
  (34.8878467, 32.1131188),
  (34.7698466, 32.0683685),
  (34.7954404, 32.073773),
  (34.7848618, 32.0703023)],
 [(-104.99648, 39.75284),
  (-104.990251, 39.7392358),
  (-105.0059041, 39.7452649),
  (-104.9947832, 39.7529116),
  (-104.9980718, 39.7495725)],
 [(-122.40412, 37.78788),
  (-122.4084994, 37.7909427),
  (-122.4146525, 37.8081104),
  (-122.4036389, 37.7872211),
  (-122.4043345, 37.7913325)],
 [(-104.99648, 39.75284),
  (-104.990251, 39.7392358),
  (-105.0059041, 39.7452649),
  (-104.9947832, 39.7529116),
  (-104.9980718, 39.7495725)],
 [(-122.40412, 37.78788),
  (-122.4084994, 37.7909427),
  (-122.4146525, 37.8081104),
  (-122.4036389, 37.7872211),
  (-122.4043345, 37.7913325)],
 [(-122.39419, 37.7823),
  (-122.4104463, 37.7857289),
  (-122.4146525, 37.8081104),
  (-122.3936402, 37.7813948),
  (-122.406012, 37.7843069)],
 [(-15.41914, 27.99493),
  (-15.3877597, 27.9424807),
  (-15.4315196, 28.134542),
  (-15.416269, 27.998187),
  (-15.4136329, 27.9973117)],
 [(-122.40353, 37.79275),
  (-122.4084994, 37.7909427),
  (-122.4146525, 37.8081104),
  (-122.4054519, 37.7932042),
  (-122.4039415, 37.7928288)],
 [(-58.4479, -34.58783),
  (-58.4231789, -34.5971132),
  (-58.4061742, -34.5778259),
  (-58.44825059999999, -34.5890454),
  (-58.45082379999999, -34.588273)],
 [(-15.41914, 27.99493),
  (-15.3877597, 27.9424807),
  (-15.4315196, 28.134542),
  (-15.416269, 27.998187),
  (-15.4136329, 27.9973117)]]

In [270]:
from shapely.geometry import Polygon
#Create polygon
final_data['Polygons'] = [Polygon(i) for i in info]

/Users/luciasuelves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [281]:
import geopandas
import pyproj    
import shapely
import shapely.ops as ops
from shapely.geometry.polygon import Polygon
from functools import partial

def transform(polygon):
    polygon_area = ops.transform(
        partial(
            pyproj.transform,
            pyproj.Proj(init='EPSG:4326'),
            pyproj.Proj(
                proj='aea',
                lat_1=polygon.bounds[1],
                lat_2=polygon.bounds[3])),
        polygon)
    return polygon_area.area/10**6

#Create a column for the area of each polygon in km**2
final_data['Polygon area'] = [transform(poly) for poly in final_data['Polygons']]

/Users/luciasuelves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [282]:
final_data

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,...,latitude,longitude,location,Starbucks,school,vegan,airport,relevance,Polygons,Polygon area
6,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,...,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,...",1,"POLYGON ((-74.0353787 40.7481039, -73.9975264 ...",0.417141
7,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,...,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",10,"POLYGON ((-104.9998449 39.749671, -104.990251 ...",0.544807
8,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,...,40.748104,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,...",1,"POLYGON ((-74.0353787 40.7481039, -73.9975264 ...",0.417141
9,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,...,39.749671,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",10,"POLYGON ((-104.9998449 39.749671, -104.990251 ...",0.544807
15,BASH Gaming,games_video,2010,$1M,India Office,,,,Bangalore,None,...,12.971606,77.594376,"{'type': 'Point', 'coordinates': [77.594376, 1...","{'type': 'Point', 'coordinates': [77.588036899...","{'type': 'Point', 'coordinates': [77.5945627, ...","{'type': 'Point', 'coordinates': [77.596209199...","{'type': 'Point', 'coordinates': [77.5949925, ...",10,"POLYGON ((77.594376 12.971606, 77.5949925 12.9...",0.063834
17,MyLikes,advertising,2010,$6.23M,,"1000 Brannan St, #502",,94103,San Francisco,CA,...,37.777995,-122.408914,"{'type': 'Point', 'coordinates': [-122.408914,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4095385...","{'type': 'Point', 'coordinates': [-122.4112304...","{'type': 'Point', 'coordinates': [-122.4104463...",10,"POLYGON ((-122.408914 37.777995, -122.4104463 ...",0.056869
19,Fliptop,enterprise,2010,$6.79M,Headquarters,580 Howard Street,Suite 201,94105,San Francisco,CA,...,37.775206,-122.419209,"{'type': 'Point', 'coordinates': [-122.419209,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4187581...","{'type': 'Point', 'coordinates': [-122.416294,...","{'type': 'Point', 'coordinates': [-122.4194155...",10,"POLYGON ((-122.419209 37.775206, -122.4194155 ...",0.082333
20,ticketea,ecommerce,2010,$5.73M,Office,Marques de Lema,7,28003,Madrid,None,...,40.445515,-3.706176,"{'type': 'Point', 'coordinates': [-3.7061764, ...","{'type': 'Point', 'coordinates': [-3.6952059, ...","{'type': 'Point', 'coordinates': [-3.704604799...","{'type': 'Point', 'coordinates': [-3.7048417, ...","{'type': 'Point', 'coordinates': [-3.699849599...",10,"POLYGON ((-3.7061764 40.4455155, -3.6998495999...",0.575661
24,Moblica,mobile,2011,$6M,HQ,88 Menachem Begin Street,,67138,Tel Aviv,None,...,32.055400,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32....","{'type': 'Point', 'coordinates': [34.7574896, ...","{'type': 'Point', 'coordinates': [34.7544754, ...","{'type': 'Point', 'coordinates': [34.7588761, ...","{'type': 'Point', 'coordinates': [34.7527171, ...",10,"POLYGON ((34.7595 32.0554, 34.7527171 31.96807...",0.792128
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,...,37.270518,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,...","{'type': 'Point', 'coordinates': [-122.0425329...","{'type': 'Point', 'coordinates': [-121.9640873...","{'type': 'Point', 'coordinates': [-121.9647708...","{'type': 'Point', 'coordinates': [-121.9299361...",1,"POLYGON ((-121.955879 37.270518, -121.9299361 ...",13.854904
31,PeekYou,search,2012,$1.83M,None,None,None,None,New York,NY,...,40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ...","{'type': 'Point', 'coordinates': [-73.9863503,...","{'type': 'Point', 'coordinates': [-73.9843105,...","{'type': 'Point', 'coordinates': [-73.9866258,...","{'type': 'Point', 'coordinates': [-73.9721185,...",10,"POLYGON ((-73.985506 40.757929, -73.9721184999...",0.054037
33,Widgetbox,other,2012,$14.5M,None,None,None,94111,San Francisco,CA,...,37.798853,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4014635...","{'type': 'Point', 'coordinates': [-122.3996037...","{'type': 'Point', 'coordinates': [-122.4084994...",10,"POLYGON ((-122.398599 37.798853, -122.4084994 ...",1.089168
5,SiSense,analytics,2010,$10M,World Headquarters,36 Hanamal st.,,,Tel Aviv,None,...,NaN,NaN,"{'type': 'Point', 'coordinates': [34.79268, 32...","{'type': 'Point', 'coordinates': [34.7698466, ...","{'type': 'Point', 'coordinates': [34.7954404, ...","{'type': 'Point', 'coordinates': [34.7848618, ...","{'type': 'Point', 'coordinates': [34.8878467, ...",10,"POLYGON ((34.79268 32.07661, 34.8878467 32.113...",0.516355
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",1,"POLYGON ((-104.99648 39.75284, -104.990251 39....",0.802451
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994...",1,"POLYGON ((-122.40412 37.78788, -122.4084994 37...",0.281674
8,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",1,"POLYGON ((-104.99648 39.75284, -104.990251 39....",0.802451
8,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994...",1,"POLYGON ((-122.40412 37.78788, -122.4084994 37...",0.281674
18,Mashape,enterprise,2010,$1.6M,Mashape Lair,433 Bryant St.,,94107,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.39419, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.3936402...","{'type': 'Point', 'coordinates': [-122.406012,...","{'type': 'Point', 'coordinates': [-122.4104463...",10,"POLYGON ((-122.39419 37.7823, -122.4104463 37....",1.734048
21,CircleUp,finance,2011,$9M,,,,,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,...",10,"POLYGON ((-15.41914 27.99493, -15.3877597 27.9...",17.891931
27,Emotive Communications,enterprise,2011,$14M,HQ,345 California Street,10th Floor,94104,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-122.40353, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4054519...","{'type': 'Point', 'coordinates': [-122.4039415...","{'type': 'Point', 'coordinates': [-122.4084994...",10,"POLYGON ((-122.40353 37.79275, -122.4084994 37...",0.351581
29,Taggify,advertising,2011,$1M,Headquarters,Concepcion Arenal 3425,3rd floor Office 44,1414,Buenos Aires,None,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-58.4479, -3...","{'type': 'Point', 'coordinates': [-58.4061742,...","{'type': 'Point', 'coordinates': [-58.44825059...","{'type': 'Point', 'coordinates': [-58.45082379...","{'type': 'Point', 'coordinates': [-58.4231789,...",10,"POLYGON ((-58.4479 -34.58783, -58.4231789 -34....",2.971775
35,Pict,ecommerce,2012,$1.4M,,,,94105,San Francisco,CA,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.416269, ...","{'type': 'Point', 'coordinates': [-15.4136329,...","{'type': 'Point', 'coordinates': [-15.3877597,...",10,"POLYGON ((-15.41914 27.99493, -15.3877597 27.9...",17.891931

In [283]:
#Create a column with the center of each polygon
g = geopandas.GeoSeries(final_data['Polygons'])
final_data['Center'] = g.centroid

/Users/luciasuelves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [284]:
#Eliminate duplicated rows
final_data = final_data.drop_duplicates(['name','address1'])

In [285]:
#Select the polygons that have a design company near
design_companies = final_data.loc[final_data['relevance'] == 1]

In [286]:
design_companies.sort_values('Polygon area',axis=0)

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,...,longitude,location,Starbucks,school,vegan,airport,relevance,Polygons,Polygon area,Center
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4043345...","{'type': 'Point', 'coordinates': [-122.4084994...",1,"POLYGON ((-122.40412 37.78788, -122.4084994 37...",0.281674,POINT (-122.40915 37.79576)
6,Integrate,software,2010,$34.8M,Scottsdale HQ,4900 N. Scottsdale Road,Suite 4000,85251,Scottsdale,AZ,...,-74.035379,"{'type': 'Point', 'coordinates': [-74.0353787,...","{'type': 'Point', 'coordinates': [-74.0056597,...","{'type': 'Point', 'coordinates': [-74.03322639...","{'type': 'Point', 'coordinates': [-74.00634389...","{'type': 'Point', 'coordinates': [-73.9975264,...",1,"POLYGON ((-74.0353787 40.7481039, -73.9975264 ...",0.417141,POINT (-74.01303 40.74232)
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,...,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",1,"POLYGON ((-104.99648 39.75284, -104.990251 39....",0.802451,POINT (-104.99740 39.74564)
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,...,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,...","{'type': 'Point', 'coordinates': [-122.0425329...","{'type': 'Point', 'coordinates': [-121.9640873...","{'type': 'Point', 'coordinates': [-121.9647708...","{'type': 'Point', 'coordinates': [-121.9299361...",1,"POLYGON ((-121.955879 37.270518, -121.9299361 ...",13.854904,POINT (-121.98364 37.18044)

In [287]:
#Out of our data sort the df by polygon area, the center point of the
#smallest polygon is the optimum place for our company (BY RANKING) 
final_data = final_data.sort_values('Polygon area',axis=0)

In [198]:
final_data

,name,category_code,founded_year,total_money_raised,description,address1,address2,zip_code,city,state_code,...,longitude,location,Starbucks,school,vegan,airport,relevance,Polygons,Polygon area,Center
31,PeekYou,search,2012,$1.83M,None,None,None,None,New York,NY,...,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ...","{'type': 'Point', 'coordinates': [-73.9863503,...","{'type': 'Point', 'coordinates': [-73.9843105,...","{'type': 'Point', 'coordinates': [-73.9866258,...","{'type': 'Point', 'coordinates': [-73.9721185,...",10,"POLYGON ((-73.985506 40.757929, -73.9721184999...",5.403655e+04,POINT (-73.98179 40.75397)
17,MyLikes,advertising,2010,$6.23M,,"1000 Brannan St, #502",,94103,San Francisco,CA,...,-122.408914,"{'type': 'Point', 'coordinates': [-122.408914,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4095385...","{'type': 'Point', 'coordinates': [-122.4112304...","{'type': 'Point', 'coordinates': [-122.4104463...",10,"POLYGON ((-122.408914 37.777995, -122.4104463 ...",5.686939e+04,POINT (-122.41097 37.78784)
15,BASH Gaming,games_video,2010,$1M,India Office,,,,Bangalore,None,...,77.594376,"{'type': 'Point', 'coordinates': [77.594376, 1...","{'type': 'Point', 'coordinates': [77.588036899...","{'type': 'Point', 'coordinates': [77.5945627, ...","{'type': 'Point', 'coordinates': [77.596209199...","{'type': 'Point', 'coordinates': [77.5949925, ...",10,"POLYGON ((77.594376 12.971606, 77.5949925 12.9...",6.383357e+04,POINT (77.59251 12.97664)
19,Fliptop,enterprise,2010,$6.79M,Headquarters,580 Howard Street,Suite 201,94105,San Francisco,CA,...,-122.419209,"{'type': 'Point', 'coordinates': [-122.419209,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4187581...","{'type': 'Point', 'coordinates': [-122.416294,...","{'type': 'Point', 'coordinates': [-122.4194155...",10,"POLYGON ((-122.419209 37.775206, -122.4194155 ...",8.233308e+04,POINT (-122.41771 37.78470)
6,Integrate,software,2010,$34.8M,San Francisco Office,23 Geary St,10th Floor,94104,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-122.40412, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4036389...","{'type': 'Point', 'coordinates': [-122.4018906...","{'type': 'Point', 'coordinates': [-122.4084994...",1,"POLYGON ((-122.40412 37.78788, -122.4084994 37...",2.792924e+05,POINT (-122.40922 37.79585)
27,Emotive Communications,enterprise,2011,$14M,HQ,345 California Street,10th Floor,94104,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-122.40353, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4054519...","{'type': 'Point', 'coordinates': [-122.4039415...","{'type': 'Point', 'coordinates': [-122.4084994...",10,"POLYGON ((-122.40353 37.79275, -122.4084994 37...",3.515805e+05,POINT (-122.40924 37.79701)
5,SiSense,analytics,2010,$10M,World Headquarters,36 Hanamal st.,,,Tel Aviv,None,...,NaN,"{'type': 'Point', 'coordinates': [34.79268, 32...","{'type': 'Point', 'coordinates': [34.7698466, ...","{'type': 'Point', 'coordinates': [34.7954404, ...","{'type': 'Point', 'coordinates': [34.7848618, ...","{'type': 'Point', 'coordinates': [34.8878467, ...",10,"POLYGON ((34.79268 32.07661, 34.8878467 32.113...",5.163551e+05,POINT (34.79957 32.07930)
7,UsingMiles,travel,2010,$3.27M,Headquarters,1514 Blake St,,80202,Denver,CO,...,-104.999845,"{'type': 'Point', 'coordinates': [-104.9998449...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-105.0008177...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",10,"POLYGON ((-104.9998449 39.749671, -104.990251 ...",5.448071e+05,POINT (-104.99892 39.74503)
20,ticketea,ecommerce,2010,$5.73M,Office,Marques de Lema,7,28003,Madrid,None,...,-3.706176,"{'type': 'Point', 'coordinates': [-3.7061764, ...","{'type': 'Point', 'coordinates': [-3.6952059, ...","{'type': 'Point', 'coordinates': [-3.704604799...","{'type': 'Point', 'coordinates': [-3.7048417, ...","{'type': 'Point', 'coordinates': [-3.699849599...",10,"POLYGON ((-3.7061764 40.4455155, -3.6998495999...",5.756611e+05,POINT (-3.70014 40.44230)
24,Moblica,mobile,2011,$6M,HQ,88 Menachem Begin Street,,67138,Tel Aviv,None,...,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32....","{'type': 'Point', 'coordinates': [34.7574896, ...","{'type': 'Point', 'coordinates': [34.7544754, ...","{'type': 'Point', 'coordinates': [34.7588761, ...","{'type': 'Point', 'coordinates': [34.7527171, ...",10,"POLYGON ((34.7595 32.0554, 34.7527171 31.96807...",7.921282e+05,POINT (34.75653 32.02520)
6,Integrate,software,2010,$34.8M,Colorado Office,1821 Blake St.,STe 2A,80202,Denver,CO,...,NaN,"{'type': 'Point', 'coordinates': [-104.99648, ...","{'type': 'Point', 'coordinates': [-105.0059041...","{'type': 'Point', 'coordinates': [-104.9947832...","{'type': 'Point', 'coordinates': [-104.9980718...","{'type': 'Point', 'coordinates': [-104.990251,...",1,"POLYGON ((-104.99648 39.75284, -104.990251 39....",8.024512e+05,POINT (-104.99740 39.74564)
33,Widgetbox,other,2012,$14.5M,None,None,None,94111,San Francisco,CA,...,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.4014635...","{'type': 'Point', 'coordinates': [-122.3996037...","{'type': 'Point', 'coordinates': [-122.4084994...",10,"POLYGON ((-122.398599 37.798853, -122.4084994 ...",1.089168e+06,POINT (-122.40757 37.79971)
18,Mashape,enterprise,2010,$1.6M,Mashape Lair,433 Bryant St.,,94107,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-122.39419, ...","{'type': 'Point', 'coordinates': [-122.4146525...","{'type': 'Point', 'coordinates': [-122.3936402...","{'type': 'Point', 'coordinates': [-122.406012,...","{'type': 'Point', 'coordinates': [-122.4104463...",10,"POLYGON ((-122.39419 37.7823, -122.4104463 37....",1.734048e+06,POINT (-122.40627 37.79181)
29,Taggify,advertising,2011,$1M,Headquarters,Concepcion Arenal 3425,3rd floor Office 44,1414,Buenos Aires,None,...,NaN,"{'type': 'Point', 'coordinates': [-58.4479, -3...","{'type': 'Point', 'coordinates': [-58.4061742,...","{'type': 'Point', 'coordinates': [-58.44825059...","{'type': 'Point', 'coordinates': [-58.45082379...","{'type': 'Point', 'coordinates': [-58.4231789,...",10,"POLYGON ((-58.4479 -34.58783, -58.4231789 -34....",2.971775e+06,POINT (-58.42494 -34.58780)
28,VisualOn,software,2011,$3.1M,Headquarters,4675 Stevens Creek Blvd,# 200,95051,Santa Clara,CA,...,-121.955879,"{'type': 'Point', 'coordinates': [-121.955879,...","{'type': 'Point', 'coordinates': [-122.0425329...","{'type': 'Point', 'coordinates': [-121.9640873...","{'type': 'Point', 'coordinates': [-121.9647708...","{'type': 'Point', 'coordinates': [-121.9299361...",1,"POLYGON ((-121.955879 37.270518, -121.9299361 ...",1.385490e+07,POINT (-121.98364 37.18044)
21,CircleUp,finance,2011,$9M,,,,,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.4165151,...","{'type': 'Point', 'coordinates': [-15.4202824,...","{'type': 'Point', 'coordinates': [-15.3877597,...",10,"POLYGON ((-15.41914 27.99493, -15.3877597 27.9...",1.828093e+07,POINT (-15.41172 28.02194)
35,Pict,ecommerce,2012,$1.4M,,,,94105,San Francisco,CA,...,NaN,"{'type': 'Point', 'coordinates': [-15.41914, 2...","{'type': 'Point', 'coordinates': [-15.4315196,...","{'type': 'Point', 'coordinates': [-15.4165151,...","{'type': 'Point', 'coordinates': [-15.4202824,...","{'type': 'Point', 'coordinates': [-15.3877597,...",10,"POLYGON ((-15.41914 27.99493, -15.3877597 27.9...",1.828093e+07,POINT (-15.41172 28.02194)

In [288]:
final_data.to_csv('enriched_data.csv')

In [289]:
final_data.to_geojson('enriched_data.geojson')

AttributeError: 'DataFrame' object has no attribute 'to_geojson'