In [22]:
import numpy as np
import pandas as pd
import re
data = pd.read_csv('sharkattack.csv', engine = 'python')

In [23]:
#Datos iniciales 5976 filas 23 columnas
#Borrar las columnas que tengan más de 3000 null
null_cols = data.isnull().sum()
null_cols[null_cols > 0]
#Borrar Unnamed:22, Unnamed:23, Time
drop_cols = list(null_cols[null_cols > 3000].index)
data = data.drop(drop_cols, axis=1)

In [24]:
#Borrar las columnas que considero irrelevantes a la hora de analizar los datos
data = data.drop(['Name','Case Number','original order','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2'], axis=1)
#Renombrar las columnas para no tener problemas
data = data.rename(columns={'Sex ':'Sex', 'Species ': 'Species'})

In [25]:
# Si se quiere analizar lugares no tenemos información de 24 filas (casos)
# en los demás se puede deducir dónde son los accidentes
null_displ = data[(data['Area'].isnull()==True) &  (data['Location'].isnull()==True) 
                  &  (data['Country'].isnull()==True)]

In [26]:
#Limpiar datos de Fatal, si es 'N ', ' N', 'n', si es algo irreconocible poner UNKNOWN
data.loc[(data['Fatal (Y/N)']==' N' ) | (data['Fatal (Y/N)']=='N ' ) | (data['Fatal (Y/N)']=='n' ) | (data['Fatal (Y/N)']=='F' ), 'Fatal (Y/N)'] = 'N'
data.loc[(data['Fatal (Y/N)'] != 'N') & (data['Fatal (Y/N)']!='Y') & (data['Fatal (Y/N)']!='UNKNOWN'), 'Fatal (Y/N)'] = 'UNKNOWN'

In [27]:
#Dividir la columna fecha para sacar el mes y el año (en caso de ser null año y no null fecha)
false_year = data[data['Year'] == 0]
real_year = false_year['Date']
real_year = real_year.str.extract(r'(\d\d\d\d)')

false_year['Real Year'] = real_year
false_year = false_year.drop('Year', axis = 1)
false_year = false_year.rename(columns={'Real Year':'Year'})

data = data[(data['Year'] != 0)]
data = data.append(false_year, sort = True)

/Users/luciasuelves/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
column_order = ['Date', 'Year', 'Country', 'Area', 'Location', 'Activity', 'Type',
         'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Species',]
data = data[column_order]

In [29]:
#Extract month form Date column
s = data['Date']
s = s.str.extract(r'(\d\d)?(-)?(\S\S\S)?(-)?(-)?(\d\d)')

In [30]:
data['Month'] = s[2]

In [31]:
column_order = ['Year','Month', 'Date', 'Country', 'Area', 'Location', 'Activity', 'Type',
                'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Species' ]

data = data[column_order]

In [32]:
step = data.groupby(['Date','Country'], as_index = False).size().reset_index().\
            rename(columns={0:'Number of victims'})
data['Number of victims'] = step['Number of victims']

In [33]:
data = data.groupby(['Year','Month','Date','Country','Area','Location','Type','Species','Number of victims'], as_index = False).agg({'Age':list,'Injury':list, 'Activity':list,'Fatal (Y/N)': list,
                           'Sex':list})

In [34]:
data

,Year,Month,Date,Country,Area,Location,Type,Species,Number of victims,Age,Injury,Activity,Fatal (Y/N),Sex
0,1884,Dec,13-Dec-1884,AUSTRALIA,South Australia,Port Phillip,Sea Disaster,14' shark,2.0,[nan],"[Cause of death most likely drowning, remains ...",[yachting accident],[Y],[M]
1,1885,Mar,28-Mar-1885,SOUTH AFRICA,KwaZulu-Natal,Kokstad District,Unprovoked,3 m [10'] shark,1.0,[nan],"[No injury to occupant, rammed oar in shark's ...",[Fishing],[N],[M]
2,1885,Nov,Reported 26-Nov-1885,AUSTRALIA,Queensland,Brisbane,Boating,15' shark,1.0,[nan],"[No injury to occupant, shark bit off section ...",[nan],[N],[nan]
3,1886,Aug,Aug-1886,USA,New Jersey,"Shrewsbury River, Highlands, Monmouth County",Boating,3 m [10'] sharks,1.0,[nan],"[No injury. They were chased by three sharks, ...",[Clamming],[N],[M]
4,1886,Aug,Mid-Aug-1886,USA,New Jersey,"Shrewsbury River, Highlands, Monmouth County",Boating,Shark was said to �have a very rough ��-thick ...,1.0,[nan],"[Shark attacked boat, shark killed & towed to ...",[nan],[N],[M]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676,2016,May,31-May-16,AUSTRALIA,Western Australia,"Falcon Beach, Mandurah",Unprovoked,White shark,1.0,[29],[FATAL],[Surfing],[Y],[M]
2677,2016,Sep,01-Sep-16,USA,California,"Refugio State Beach, Santa Barbara County",Unprovoked,White shark,1.0,[22],[Two toes broken & lacerated],[Spearfishing],[N],[M]
2678,2016,Sep,07-Sep-16,USA,Hawaii,"Makaha, Oahu",Unprovoked,"Tiger shark, 10?",1.0,[51],[Severe lacerations to shoulder & forearm],[Swimming],[N],[F]
2679,2016,Sep,11-Sep-16,USA,Florida,"Ponte Vedra, St. Johns County",Unprovoked,3' to 4' shark,1.0,[60s],[Minor injury to arm],[Wading],[N],[M]
2680,2016,Sep,16-Sep-16,AUSTRALIA,Victoria,Bells Beach,Unprovoked,2 m shark,1.0,[nan],[No injury: Knocked off board by shark],[Surfing],[N],[M]

In [35]:
data[data['Number of victims'] != 1.0]

,Year,Month,Date,Country,Area,Location,Type,Species,Number of victims,Age,Injury,Activity,Fatal (Y/N),Sex
0,1884,Dec,13-Dec-1884,AUSTRALIA,South Australia,Port Phillip,Sea Disaster,14' shark,2.0,[nan],"[Cause of death most likely drowning, remains ...",[yachting accident],[Y],[M]
43,1908,Jul,Reported 08-Jul-1908,CROATIA,Adriatic Sea,Medola,Unprovoked,"Species unknown, possible white shark",2.0,[nan],"[FATAL, lost a leg]",[Boating],[Y],[F]
90,1923,Jan,14-Jan-23,CUBA,Caribbean Sea,20 miles from Havana,Invalid,Atkins' remains were recovered from a dusky sh...,2.0,[nan],[Although this incident is listed elsewhere as...,[seaplane Columbus ditched in the sea],[Y],[M]
92,1923,Nov,02-Nov-23,AUSTRALIA,New South Wales,Bellinger Head,Invalid,Shark involvement suspected but not confirmed,2.0,[nan],[FATAL],[Fishing],[Y],[M]
104,1926,Jan,26-Jan-26,SOUTH AFRICA,Eastern Cape Province,Hamburg,Unprovoked,"""a blue shark""",2.0,[nan],[Thigh lacerated],[Swimming],[N],[M]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,2015,Aug,29-Aug-15,USA,California,"Morro Bay, San Luis Obispo County",Unprovoked,"White shark, 10' to 12'",2.0,[21],"[No injury, shark struk sufer's leg and his bo...",[Surfing],[N],[M]
2548,2015,Feb,05-Feb-15,AUSTRALIA,New South Wales,Mereweather Beach,Unprovoked,1.8 m shark,2.0,[nan],[5 minor puncture wounds to lower left leg],[Bodysurfing],[N],[M]
2549,2015,Feb,08-Feb-15,AUSTRALIA,New South Wales,"Seven Mile Beach, Byron Bay",Unprovoked,2 m to 3 m shark,2.0,[35],[Laceration & puncture wounds to right flank &...,[Surfing],[N],[M]
2591,2015,Mar,07-Mar-15,FRENCH POLYNESIA,Central Tuamotu,"Tupapati, Hikueru Atoll",Unprovoked,Blacktip Reef shark,2.0,[18 months],[Thigh bitten],[Sitting in the water],[N],[M]
2659,2016,Jun,07-Jun-16,USA,South Carolina,"Folly Beach, Charleston County",Invalid,Said to involve an 8' shark but more likely da...,2.0,[27],"[No injury, board damaged]",[Surfing],[N],[M]

In [36]:
patron = re.compile(r'\bleg\b')
fa = patron.findall('Shark bit my leg')
fa

['leg']

In [37]:
#identificar key words en injury como leg, arm, hand, foot, thigh..

In [38]:
from collections import Counter
most_common_species = Counter(data['Species'].dropna().tolist()).most_common(20)
species = [species_list[0] for species_list in most_common_species]
for i in species:
    print(i)

White shark
Shark involvement not confirmed
Tiger shark
4' shark
Bull shark
6' shark
1.8 m [6'] shark
1.5 m [5'] shark
1.2 m [4'] shark
5' shark
3' shark
3 m [10'] shark
2 m shark
4' to 5' shark
3' to 4' shark
No shark involvement
2.4 m [8'] shark
Wobbegong shark
3.7 m [12'] shark
"a small shark"

In [39]:
#Clasificar por season
def agg_season(x):
    if x in ['Dec','Jan','Feb']:
        return 'Winter'
    elif x in ['Mar','Apr','May']:
        return 'Spring'
    elif x in ['Jun','Jul','Aug']:
        return 'Summer'
    else:
        return 'Autumn'
   
data['Season'] =  data['Month'].agg(agg_season)

In [40]:
data

,Year,Month,Date,Country,Area,Location,Type,Species,Number of victims,Age,Injury,Activity,Fatal (Y/N),Sex,Season
0,1884,Dec,13-Dec-1884,AUSTRALIA,South Australia,Port Phillip,Sea Disaster,14' shark,2.0,[nan],"[Cause of death most likely drowning, remains ...",[yachting accident],[Y],[M],Winter
1,1885,Mar,28-Mar-1885,SOUTH AFRICA,KwaZulu-Natal,Kokstad District,Unprovoked,3 m [10'] shark,1.0,[nan],"[No injury to occupant, rammed oar in shark's ...",[Fishing],[N],[M],Spring
2,1885,Nov,Reported 26-Nov-1885,AUSTRALIA,Queensland,Brisbane,Boating,15' shark,1.0,[nan],"[No injury to occupant, shark bit off section ...",[nan],[N],[nan],Autumn
3,1886,Aug,Aug-1886,USA,New Jersey,"Shrewsbury River, Highlands, Monmouth County",Boating,3 m [10'] sharks,1.0,[nan],"[No injury. They were chased by three sharks, ...",[Clamming],[N],[M],Summer
4,1886,Aug,Mid-Aug-1886,USA,New Jersey,"Shrewsbury River, Highlands, Monmouth County",Boating,Shark was said to �have a very rough ��-thick ...,1.0,[nan],"[Shark attacked boat, shark killed & towed to ...",[nan],[N],[M],Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676,2016,May,31-May-16,AUSTRALIA,Western Australia,"Falcon Beach, Mandurah",Unprovoked,White shark,1.0,[29],[FATAL],[Surfing],[Y],[M],Spring
2677,2016,Sep,01-Sep-16,USA,California,"Refugio State Beach, Santa Barbara County",Unprovoked,White shark,1.0,[22],[Two toes broken & lacerated],[Spearfishing],[N],[M],Autumn
2678,2016,Sep,07-Sep-16,USA,Hawaii,"Makaha, Oahu",Unprovoked,"Tiger shark, 10?",1.0,[51],[Severe lacerations to shoulder & forearm],[Swimming],[N],[F],Autumn
2679,2016,Sep,11-Sep-16,USA,Florida,"Ponte Vedra, St. Johns County",Unprovoked,3' to 4' shark,1.0,[60s],[Minor injury to arm],[Wading],[N],[M],Autumn
2680,2016,Sep,16-Sep-16,AUSTRALIA,Victoria,Bells Beach,Unprovoked,2 m shark,1.0,[nan],[No injury: Knocked off board by shark],[Surfing],[N],[M],Autumn

In [41]:
data = data.to_csv('shark_attack_cleaned.csv', sep='\t', index=False)