## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1=random.sample(range(101),k=80)
print(sample_list_1)
print(len(sample_list_1))

[82, 56, 92, 91, 13, 89, 14, 36, 52, 86, 83, 2, 51, 40, 1, 27, 55, 5, 93, 94, 46, 59, 73, 53, 98, 63, 3, 69, 64, 31, 45, 76, 78, 65, 72, 66, 71, 84, 62, 22, 29, 41, 9, 88, 60, 20, 21, 61, 24, 6, 11, 57, 38, 25, 35, 100, 16, 23, 42, 77, 48, 87, 0, 44, 99, 49, 85, 39, 79, 12, 50, 90, 18, 80, 28, 30, 70, 10, 95, 34]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))

'''yes, the length is 80'''

{0, 1, 2, 3, 5, 6, 9, 10, 11, 12, 13, 14, 16, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}
80

'yes, the length is 80'

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2=[]
for _ in range(80):
    entero=random.randint(0,100)
    sample_list_2.append(entero)
print(len(lista))
print(len(set(lista)))

NameError: name 'lista' is not defined

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2=(set(sample_list_2))
print(set2)
print(len(set2))

{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 31, 33, 35, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 53, 56, 59, 60, 64, 65, 70, 71, 72, 74, 75, 77, 81, 89, 93, 95, 97, 99, 100}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
# Your code here
a=set(set1)
b=set(set2)
set3=[]
for x in set1:
    if x in b:
        False
    elif x not in b:
        set3.append(x)
print(set3)
print(len(set3))
print(set(set3))

[0, 6, 13, 14, 24, 27, 28, 29, 30, 34, 36, 38, 40, 51, 52, 55, 57, 61, 62, 63, 66, 69, 73, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 94, 98]
39
{0, 6, 13, 14, 24, 27, 28, 29, 30, 34, 36, 38, 40, 51, 52, 55, 57, 61, 62, 63, 66, 69, 73, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 94, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
a=set(set1)
b=set(set2)
set4=[]
for x in set2:
    if x in a:
        False
    elif x not in a:
        set4.append(x)
print(set4)
print(len(set4))

[4, 7, 17, 19, 26, 33, 37, 43, 47, 74, 75, 81, 97]
13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
a=set(set1)
b=set(set2)
set5=[]
for x in set2:
    if x in a:
        set5.append(x)
    elif x not in a:
        False
print(set5)
print(len(set5))

[1, 2, 3, 5, 9, 10, 11, 12, 16, 18, 20, 21, 22, 23, 25, 31, 35, 39, 41, 42, 44, 45, 46, 48, 49, 50, 53, 56, 59, 60, 64, 65, 70, 71, 72, 77, 89, 93, 95, 99, 100]
41

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here

len(set4)==len(set2)-len(set5)
len(set3)==len(set1)-len(set5)

True

#### Create an empty set called `set6`.

In [35]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here

set3=set(set3)

set5=set(set5)

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 5, 6, 9, 10, 11, 12, 13, 14, 16, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [52]:
# Your code here



print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [57]:
# Your code here

union1=set3.union(set4,set5)
print(union1)

union2=set1.union(set2)
print(union2)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
# Your code here
lista_set1=list(set1)

return_remove=lista_set1.pop(0)
print(return_remove)

[0, 1, 2, 3, 5, 6, 9, 10, 11, 12, 13, 14, 16, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100]
0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
# Your code here
lista_set1=set(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
lista_set1.difference(list_to_remove)

{0,
 2,
 3,
 5,
 6,
 10,
 12,
 13,
 14,
 16,
 18,
 20,
 22,
 23,
 24,
 25,
 27,
 28,
 30,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 53,
 55,
 56,
 57,
 60,
 62,
 63,
 64,
 65,
 66,
 70,
 72,
 73,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 98,
 100}