# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')
tags = [e.find_all("a") for e in html.select(".h3.lh-condensed")]

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
names = [d.text.strip() for e in tags for d in e]
names

['mattn',
 'Andreas Mueller',
 'Brian C',
 'Erik Schierboom',
 'John Sundell',
 'Siddharth Kshetrapal',
 'Jason Williams',
 'Kyle Conroy',
 'Anthony Sottile',
 'William Candillon',
 'Colin Rofls',
 'Filip Skokan',
 'Amila Welihinda',
 'Kristoffer Carlsson',
 'Giulio Canti',
 'greatghoul',
 'Miek Gieben',
 'Jesse Katsumata',
 'Lucas Michot',
 'Adam Geitgey',
 'Philipp Oppermann',
 'Tony Narlock',
 'isaacs',
 'Florian Rival',
 'Satyajit Sahoo']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [7]:
tags = html.select(".h3.lh-condensed > a")
repos = [e.text.split("/")[1].strip() for e in tags ]
repos

['DXY-2019-nCoV-Crawler',
 'python-cheatsheet',
 'spiderfoot',
 'NLP-progress',
 'sight',
 'Awesome-Linux-Software',
 'awesome-python',
 'rex-gym',
 'DAIN',
 'interpy-zh',
 'fastapi',
 'thinc',
 'rich',
 'Vieux',
 'vardbg',
 'Deep-Learning-with-TensorFlow-book',
 'bpf-perf-tools-book',
 'google-cloud-python',
 'anchore-engine',
 'tinder-swipe-bot',
 'captum',
 'Eel',
 'policy_sentry',
 'anomaly-detection-resources',
 'daily-coding-problem']

#### Display all the image links from Walt Disney wikipedia page

In [8]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [9]:
tags = html.select(".image")
images = [url +"#/media" + e.attrs["href"][5:] for e in tags]
images
#https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1946.JPG

['https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:The_Walt_Disney_Company_Logo.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:P_vip.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Video-x-generic.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Blank_television_set.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [10]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'
url = "https://en.wikipedia.org/wiki/Python_(mythology)"
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [11]:
tags_a = [e.attrs["href"] for e in html.find_all("a") if "href" in e.attrs.keys()]
tags_img = [e.attrs["src"] for e in html.find_all("img") if "src" in e.attrs.keys()]
links = tags_a +  tags_img
print(len(tags_a), len(tags_img), len(links))
#links

235 10 245

#### Number of Titles that have changed in the United States Code since its last release point

In [12]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [13]:
tags = html.select(".usctitlechanged")
titles = [e.text.strip() for e in tags]
print(titles) 
len(titles)

['Title 18 - Crimes and Criminal Procedure ٭', 'Title 20 - Education', 'Title 26 - Internal Revenue Code']

3

#### A Python list with the top ten FBI's Most Wanted names

In [14]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [15]:
tags = html.select("h3 > a")
top_ten = [e.text.strip() for e in tags]
top_ten

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [16]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [17]:
tags_a = html.select("b > a")
date = [e.text.split()[0] for e in tags_a[:-1]]
time = [e.text.split()[1] for e in tags_a[:-1]]
reg = [e.text.strip() for e in html.select(".tb_region")]
lat = [float(e.text.strip()) for i,e in enumerate(html.select(".tabev1")) if i % 2 == 0]
lon = [float(e.text.strip()) for i,e in enumerate(html.select(".tabev1")) if i % 2 != 0]
data = {'Date':date, 'Time':time, 'Latitude': lat, 'Longitude': lon, "Region Name": reg} 
df = pd.DataFrame(data)
df[:10]

,Date,Time,Latitude,Longitude,Region Name
0,2020-01-30,22:10:14.0,3.65,75.37,NORTHERN PERU
1,2020-01-30,21:53:05.0,2.03,99.85,"KEP. MENTAWAI REGION, INDONESIA"
2,2020-01-30,21:50:58.1,38.51,39.31,EASTERN TURKEY
3,2020-01-30,21:50:36.2,19.21,155.42,"ISLAND OF HAWAII, HAWAII"
4,2020-01-30,21:46:30.0,27.94,26.83,SOUTH AFRICA
5,2020-01-30,21:27:39.6,39.02,27.82,WESTERN TURKEY
6,2020-01-30,21:26:40.2,61.51,146.51,SOUTHERN ALASKA
7,2020-01-30,21:08:29.0,17.84,101.02,"GUERRERO, MEXICO"
8,2020-01-30,21:07:53.0,7.09,122.27,FLORES SEA
9,2020-01-30,21:05:51.7,38.21,38.71,EASTERN TURKEY

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [18]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
#No esta la pag

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [19]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/ddddddddddddddddddddddd'
try:
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    h1 = html.find_all("h1")[0]
    if "Sorry, that page doesn’t exist!" in h1:
        raise ReferenceError
except ReferenceError:
    print("La cuenta no existe")

La cuenta no existe

In [20]:
div = html.find_all("div")
div = [e for e in div if "class" in e.attrs and e.attrs["class"] == ["js-tweet-text-container"]]
len(div)

0

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [21]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/realDonaldTrump'
try:
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    h1 = html.find_all("h1")[0]
    if "Sorry, that page doesn’t exist!" in h1:
        raise ReferenceError
except ReferenceError:
    print("La cuenta no existe")

In [22]:
a = html.find_all("a")
a = [e for e in a if "href" in e.attrs and "followers" in e.attrs["href"]]
a[0].attrs["title"]

'71.879.896 Seguidores'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [23]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [24]:
strong = html.find_all("strong")
small = html.find_all("small")
countries = [e.text for e in strong[1:11]]
articles = [e.text for e in small[:9]]
for i in range(len(articles)):
    print(countries[i], ":", articles[i])

English : 5 994 000+ articles
æ¥æ¬èª : 1 185 000+ è¨äº
Deutsch : 2 385 000+ Artikel
EspaÃ±ol : 1 571 000+ artÃ­culos
Ð ÑÑÑÐºÐ¸Ð¹ : 1 590 000+ ÑÑÐ°ÑÐµÐ¹
FranÃ§ais : 2 171 000+ articles
Italiano : 1 576 000+ voci
ä¸­æ : 1 090 000+ æ¢ç®
PortuguÃªs : 1 018 000+ artigos

#### A list with the different kind of datasets available in data.gov.uk

In [25]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [26]:
datasets = [e.text for e in html.find_all("h2")]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [27]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [28]:
table = html.find_all("table")
language = [e.text for e in table[2].find_all("b")][:10]
td = [e.text for e in table[2].find_all("td")]
native = [td[e] for e in range(2,40,4)]
data = {'Language':language, 'Native Speakers in millions':native} 
df = pd.DataFrame(data)
df

     Language Native Speakers in millions
0    Mandarin                   935 (955)
1     Spanish                   390 (405)
2     English                   365 (360)
3       Hindi                   295 (310)
4      Arabic                   280 (295)
5  Portuguese                   205 (215)
6     Bengali                   200 (205)
7     Russian                   160 (155)
8    Japanese                   125 (125)
9     Punjabi                    95 (100)

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [29]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/realDonaldTrump'
try:
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    h1 = html.find_all("h1")[0]
    if "Sorry, that page doesn’t exist!" in h1:
        raise ReferenceError
except ReferenceError:
    print("La cuenta no existe")

In [30]:
div = html.find_all("div")
div = [e for e in div if "class" in e.attrs and e.attrs["class"] == ["js-tweet-text-container"]]
tweets = [e.text.strip() for e in div]
tweets[:3]

['GAME OVER!pic.twitter.com/yvMa6bPqfy',
 "Can't violate the Logan Act when you're working for the president or acting at his request. \n\nLogan Act was created to block private citizens from acting as *if* they represented (the President of) the USA (foreign policy specifically). \nSuch as Kerry talking to Iran after 2016.",
 'CNN\'s John King: "Republicans make a good point. The Whistleblower started all this. Why has the Whistleblower never been questioned? Shouldn’t the House Democrats have found a secure way to do that? It’s a legitimate point of debate."pic.twitter.com/lsutmBXBwJ']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [31]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [32]:
a = html.find_all("a")
movies = [e for e in a if "title" in e.attrs][:-5]
title = [e.text for e in movies]
director = [e.attrs["title"][:e.attrs["title"].index(" (dir.)")] for e in movies]
stars = [e.attrs["title"][e.attrs["title"].index("), "):][3:] for e in movies]
data = {'Title':title, 'Director':director, 'Stars':stars} 
df = pd.DataFrame(data)
display(df.head())
df.tail()

                   Title              Director                         Stars
0        Cadena perpetua        Frank Darabont   Tim Robbins, Morgan Freeman
1             El padrino  Francis Ford Coppola      Marlon Brando, Al Pacino
2   El padrino: Parte II  Francis Ford Coppola     Al Pacino, Robert De Niro
3    El caballero oscuro     Christopher Nolan  Christian Bale, Heath Ledger
4  12 hombres sin piedad          Sidney Lumet      Henry Fonda, Lee J. Cobb

,Title,Director,Stars
245,Contratiempo,Oriol Paulo,"Mario Casas, Ana Wagener"
246,Aladdín,Ron Clements,"Scott Weinger, Robin Williams"
247,Mujercitas,Greta Gerwig,"Saoirse Ronan, Emma Watson"
248,El castillo en el cielo,Hayao Miyazaki,"Anna Paquin, James Van Der Beek"
249,Neon Genesis Evangelion: The End of Evangelion,Hideaki Anno,"Megumi Ogata, Megumi Hayashibara"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [33]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [34]:
def get_random_movies(num):
    url = 'http://www.imdb.com/chart/top'
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    a = html.find_all("a")
    movies = [e for e in a if "title" in e.attrs][:-5]
    title = [e.text for e in movies]
    year = [e.text[1:-1] for e in html.select('span[class^="secondaryInfo"]')]
    urls = [url[:-10] + e.attrs["href"] for e in a if "title" in e.attrs][:-5]
    description_df = []
    title_df = []
    year_df = []
    for e in random.choices(range(250), k=num):
        data2 = requests.get(urls[e]).text
        html2 = BeautifulSoup(data2, 'html.parser')
        description_df.append(((html2.select('div[class^="summary_text"]')[0].text)))
        title_df.append(title[e])
        year_df.append(year[e])
    data = {'Title':title_df, 'Year':year_df, 'Description':description_df} 
    return pd.DataFrame(data)

In [35]:
get_random_movies(5)

,Title,Year,Description
0,Jungla de cristal,1988,\n An NYPD officer tries to...
1,Kill Bill: Volumen 1,2003,\n After awakening from a f...
2,Sin perdón,1992,\n Retired Old West gunslin...
3,Shutter Island,2010,"\n In 1954, a U.S. Marshal ..."
4,No es país para viejos,2007,\n Violence and mayhem ensu...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [36]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

Enter the city:Madrid

In [37]:
temp = re.search('temp":\d+\.\d+', html.text)
wind = re.search('speed":\d+\.\d+', html.text)
desc = re.search('description":"\w+(\s?\w+)', html.text)
desc = re.search('description":"\w+(\s?\w+)', html.text)
print("Temperature:",temp.group().split(":")[1])
print("Wind Speed:",wind.group().split(":")[1])
print("Description:",desc.group().split(":")[1][1:])

Temperature: 9.24
Wind Speed: 2.1
Description: broken clouds

#### Book name,price and stock availability as a pandas dataframe.

In [38]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [39]:
title = [e.attrs["title"] for e in html.find_all("a") if "title" in e.attrs]
price = [e.text[1:] for e in html.select('p[class^="price"]')]
stock = [e.text.strip() for e in html.select('p[class^="instock availability"]')]
data = {'Title':title, 'Price':price, 'Stock':stock} 
df = pd.DataFrame(data)
df.head()

                                   Title   Price     Stock
0                   A Light in the Attic  £51.77  In stock
1                     Tipping the Velvet  £53.74  In stock
2                             Soumission  £50.10  In stock
3                          Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History of Humankind  £54.23  In stock