# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [38]:
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')
tags = [e.find_all("a") for e in html.select(".h3.lh-condensed")]

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [40]:
names = [d.text.strip() for e in tags for d in e]
names

['mattn',
 'Andreas Mueller',
 'Brian C',
 'Erik Schierboom',
 'John Sundell',
 'Siddharth Kshetrapal',
 'Jason Williams',
 'Kyle Conroy',
 'Anthony Sottile',
 'William Candillon',
 'Colin Rofls',
 'Filip Skokan',
 'Amila Welihinda',
 'Kristoffer Carlsson',
 'Giulio Canti',
 'greatghoul',
 'Miek Gieben',
 'Jesse Katsumata',
 'Lucas Michot',
 'Adam Geitgey',
 'Philipp Oppermann',
 'Tony Narlock',
 'isaacs',
 'Florian Rival',
 'Satyajit Sahoo']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [20]:
tags = html.select(".h3.lh-condensed > a")
repos = [e.text.split("/")[1].strip() for e in tags ]
repos

['DXY-2019-nCoV-Crawler',
 'python-cheatsheet',
 'spiderfoot',
 'NLP-progress',
 'sight',
 'Awesome-Linux-Software',
 'awesome-python',
 'rex-gym',
 'DAIN',
 'interpy-zh',
 'fastapi',
 'thinc',
 'rich',
 'Vieux',
 'vardbg',
 'Deep-Learning-with-TensorFlow-book',
 'bpf-perf-tools-book',
 'google-cloud-python',
 'anchore-engine',
 'tinder-swipe-bot',
 'captum',
 'Eel',
 'policy_sentry',
 'anomaly-detection-resources',
 'daily-coding-problem']

#### Display all the image links from Walt Disney wikipedia page

In [59]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [91]:
tags = html.select(".image")
images = [url +"#/media" + e.attrs["href"][5:] for e in tags]
images
#https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1946.JPG

['https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:The_Walt_Disney_Company_Logo.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:P_vip.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Video-x-generic.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Blank_television_set.svg',
 'https://en.wikipedia.org/wiki/Walt_Disney#/media/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [103]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'
url = "https://en.wikipedia.org/wiki/Python_(mythology)"
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [108]:
tags_a = [e.attrs["href"] for e in html.find_all("a") if "href" in e.attrs.keys()]
tags_img = [e.attrs["src"] for e in html.find_all("img") if "src" in e.attrs.keys()]
links = tags_a +  tags_img
print(len(tags_a), len(tags_img), len(links))
#links

235 10 245

#### Number of Titles that have changed in the United States Code since its last release point

In [109]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [125]:
tags = html.select(".usctitlechanged")
titles = [e.text.strip() for e in tags]
print(titles) 
len(titles)

['Title 18 - Crimes and Criminal Procedure ٭', 'Title 20 - Education', 'Title 26 - Internal Revenue Code']

3

#### A Python list with the top ten FBI's Most Wanted names

In [126]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [131]:
tags = html.select("h3 > a")
top_ten = [e.text.strip() for e in tags]
top_ten

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [173]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [189]:
tags_a = html.select("b > a")
date_time = [{e.text.split()[0]:e.text.split()[1]} for e in tags_a[:-1]]
reg = [e.text.strip() for e in html.select(".tb_region")]
lat = [float(e.text.strip()) for i,e in enumerate(html.select(".tabev1")) if i % 2 == 0]
lon = [float(e.text.strip()) for i,e in enumerate(html.select(".tabev1")) if i % 2 != 0]
data = {'Date':[e.keys() for e in date_time], 'Time':[e.values() for e in date_time], 'Latitude': lat, 'Longitude': lon, "Region Name": reg} 
df = pd.DataFrame(data)
df

,Date,Time,Latitude,Longitude,Region Name
0,(2020-01-30),(16:07:04.6),35.66,117.48,SOUTHERN CALIFORNIA
1,(2020-01-30),(16:03:06.9),36.70,121.36,CENTRAL CALIFORNIA
2,(2020-01-30),(15:47:59.5),19.49,155.24,"ISLAND OF HAWAII, HAWAII"
3,(2020-01-30),(15:31:32.7),19.12,155.42,"ISLAND OF HAWAII, HAWAII"
4,(2020-01-30),(15:31:31.5),39.24,18.72,SOUTHERN ITALY
5,(2020-01-30),(15:30:47.4),39.06,27.86,WESTERN TURKEY
6,(2020-01-30),(15:27:18.0),49.41,0.01,FRANCE
7,(2020-01-30),(15:24:22.0),16.85,100.10,"OFFSHORE GUERRERO, MEXICO"
8,(2020-01-30),(15:12:32.6),35.28,28.06,EASTERN MEDITERRANEAN SEA
9,(2020-01-30),(15:02:42.4),39.08,27.85,WESTERN TURKEY
10,(2020-01-30),(15:00:42.9),56.45,150.00,GULF OF ALASKA
11,(2020-01-30),(14:48:15.7),39.09,27.83,WESTERN TURKEY
12,(2020-01-30),(14:43:53.4),36.70,121.34,CENTRAL CALIFORNIA
13,(2020-01-30),(14:21:45.6),39.09,27.81,WESTERN TURKEY
14,(2020-01-30),(14:18:04.3),38.53,122.33,NORTHERN CALIFORNIA
15,(2020-01-30),(14:10:03.1),35.03,28.01,EASTERN MEDITERRANEAN SEA
16,(2020-01-30),(14:04:30.3),19.24,155.42,"ISLAND OF HAWAII, HAWAII"
17,(2020-01-30),(14:03:55.1),39.09,27.83,WESTERN TURKEY
18,(2020-01-30),(14:02:26.9),35.01,27.97,"DODECANESE ISLANDS, GREECE"
19,(2020-01-30),(13:52:48.8),39.11,27.83,WESTERN TURKEY
20,(2020-01-30),(13:52:37.5),36.72,5.67,NORTHERN ALGERIA
21,(2020-01-30),(13:49:03.1),38.48,39.28,EASTERN TURKEY
22,(2020-01-30),(13:37:10.0),0.99,127.28,"HALMAHERA, INDONESIA"
23,(2020-01-30),(13:18:46.9),38.99,27.85,WESTERN TURKEY
24,(2020-01-30),(13:15:24.0),10.04,160.85,SOLOMON ISLANDS
25,(2020-01-30),(12:45:53.1),35.14,27.98,"DODECANESE ISLANDS, GREECE"
26,(2020-01-30),(12:45:11.3),29.62,52.13,SOUTHERN IRAN
27,(2020-01-30),(12:43:00.3),35.11,95.38,OKLAHOMA
28,(2020-01-30),(12:17:27.3),35.11,95.38,OKLAHOMA
29,(2020-01-30),(12:15:41.0),2.69,127.79,"CERAM SEA, INDONESIA"
30,(2020-01-30),(12:04:42.0),0.35,91.57,"GALAPAGOS ISLANDS, ECUADOR"
31,(2020-01-30),(12:02:54.0),0.34,91.58,"GALAPAGOS ISLANDS, ECUADOR"
32,(2020-01-30),(11:54:05.2),19.34,155.14,"ISLAND OF HAWAII, HAWAII"
33,(2020-01-30),(11:53:41.1),35.31,27.88,"DODECANESE ISLANDS, GREECE"
34,(2020-01-30),(11:51:57.9),19.34,155.12,"ISLAND OF HAWAII, HAWAII"
35,(2020-01-30),(11:49:20.5),35.11,95.38,OKLAHOMA
36,(2020-01-30),(11:46:29.4),35.76,27.44,"DODECANESE ISLANDS, GREECE"
37,(2020-01-30),(11:45:08.0),21.06,68.48,"ANTOFAGASTA, CHILE"
38,(2020-01-30),(11:43:00.7),35.26,27.86,"DODECANESE ISLANDS, GREECE"
39,(2020-01-30),(11:42:30.0),3.74,126.88,"KEPULAUAN TALAUD, INDONESIA"
40,(2020-01-30),(11:40:07.0),35.16,28.14,EASTERN MEDITERRANEAN SEA
41,(2020-01-30),(11:32:09.4),34.90,28.10,EASTERN MEDITERRANEAN SEA
42,(2020-01-30),(11:29:09.6),18.99,67.81,DOMINICAN REPUBLIC REGION
43,(2020-01-30),(11:27:10.5),39.08,27.85,WESTERN TURKEY
44,(2020-01-30),(11:24:42.0),23.86,67.47,"ANTOFAGASTA, CHILE"
45,(2020-01-30),(11:21:36.5),35.08,27.80,"DODECANESE ISLANDS, GREECE"
46,(2020-01-30),(11:09:22.0),18.81,68.89,DOMINICAN REPUBLIC
47,(2020-01-30),(11:07:48.6),18.26,119.95,NORTHWEST OF AUSTRALIA
48,(2020-01-30),(11:06:12.1),35.86,117.70,CENTRAL CALIFORNIA
49,(2020-01-30),(10:57:00.0),35.02,5.88,NORTHERN ALGERIA

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [191]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
#No esta la pag

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [109]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/ddddddddddddddddddddddd'
try:
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    h1 = html.find_all("h1")[0]
    if "Sorry, that page doesn’t exist!" in h1:
        raise ReferenceError
except ReferenceError:
    print("La cuenta no existe")

La cuenta no existe

In [110]:
div = html.find_all("div")
div = [e for e in div if "class" in e.attrs and e.attrs["class"] == ["js-tweet-text-container"]]
len(div)

0

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [116]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/realDonaldTrump'
try:
    data = requests.get(url).text
    html = BeautifulSoup(data, 'html.parser')
    h1 = html.find_all("h1")[0]
    if "Sorry, that page doesn’t exist!" in h1:
        raise ReferenceError
except ReferenceError:
    print("La cuenta no existe")

In [125]:
a = html.find_all("a")
a = [e for e in a if "href" in e.attrs and "followers" in e.attrs["href"]]
a[0].attrs["title"]

'71.869.880 Seguidores'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [126]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [174]:
strong = html.find_all("strong")
small = html.find_all("small")
countries = [e.text for e in strong[1:11]]
articles = [e.text for e in small[:9]]
for i in range(len(articles)):
    print(countries[i], ":", articles[i])

English : 5 994 000+ articles
æ¥æ¬èª : 1 185 000+ è¨äº
Deutsch : 2 385 000+ Artikel
EspaÃ±ol : 1 571 000+ artÃ­culos
Ð ÑÑÑÐºÐ¸Ð¹ : 1 590 000+ ÑÑÐ°ÑÐµÐ¹
FranÃ§ais : 2 171 000+ articles
Italiano : 1 576 000+ voci
ä¸­æ : 1 090 000+ æ¢ç®
PortuguÃªs : 1 018 000+ artigos

#### A list with the different kind of datasets available in data.gov.uk

In [175]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [177]:
datasets = [e.text for e in html.find_all("h2")]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [178]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
data = requests.get(url).text
html = BeautifulSoup(data, 'html.parser')

In [202]:
table = html.find_all("table")
language = [e.text for e in table[2].find_all("b")][:10]
td = [e.text for e in table[2].find_all("td")]
native = [td[e] for e in range(2,40,4)]
data = {'Language':language, 'Native Speakers in millions':native} 
df = pd.DataFrame(data)
df

     Language Native Speakers in millions
0    Mandarin                   935 (955)
1     Spanish                   390 (405)
2     English                   365 (360)
3       Hindi                   295 (310)
4      Arabic                   280 (295)
5  Portuguese                   205 (215)
6     Bengali                   200 (205)
7     Russian                   160 (155)
8    Japanese                   125 (125)
9     Punjabi                    95 (100)

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code