# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
salaries.isnull().sum(axis=1)

0        2
1        2
2        2
3        2
4        1
        ..
33178    2
33179    2
33180    2
33181    2
33182    2
Length: 33183, dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [29]:
# Your code here:
salary = salaries.loc[salaries['Salary or Hourly'] =='Salary']['Name'].count()
hourly = salaries.loc[salaries['Salary or Hourly'] =='Hourly']['Name'].count()

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [33]:
# Your code here:
departments = set(salaries['Department'].tolist())
[{department: salaries.loc[salaries['Department'] == department]['Name'].count()} for department in departments]

[{'WATER MGMNT': 1879},
 {'GENERAL SERVICES': 980},
 {'TRANSPORTN': 1140},
 {'CULTURAL AFFAIRS': 65},
 {'LAW': 407},
 {'LICENSE APPL COMM': 1},
 {'HEALTH': 488},
 {'FAMILY & SUPPORT': 615},
 {'HUMAN RELATIONS': 16},
 {'POLICE BOARD': 2},
 {'DoIT': 99},
 {'BOARD OF ETHICS': 8},
 {'COPA': 116},
 {"MAYOR'S OFFICE": 85},
 {'POLICE': 13414},
 {'AVIATION': 1629},
 {'ANIMAL CONTRL': 81},
 {'INSPECTOR GEN': 87},
 {'BUILDINGS': 269},
 {'PROCUREMENT': 92},
 {'OEMC': 2102},
 {'FIRE': 4641},
 {'CITY CLERK': 84},
 {'BUDGET & MGMT': 46},
 {'BOARD OF ELECTION': 107},
 {'BUSINESS AFFAIRS': 171},
 {'DISABILITIES': 28},
 {'TREASURER': 22},
 {'ADMIN HEARNG': 39},
 {'STREETS & SAN': 2198},
 {'CITY COUNCIL': 411},
 {'HUMAN RESOURCES': 79},
 {'FINANCE': 560},
 {'COMMUNITY DEVELOPMENT': 207},
 {'PUBLIC LIBRARY': 1015}]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [43]:
# Your code here:
import scipy.stats
stats, p_valor = scipy.stats.ttest_1samp(salaries.loc[salaries['Salary or Hourly']=="Hourly"]["Hourly Rate"],30)
p_valor

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [47]:
# Your code here:
st,p_valor = scipy.stats.ttest_1samp(salaries[salaries["Department"] == "POLICE"]["Annual Salary"],86000, nan_policy='omit')
p_valor/2

0.00103017017755027

Using the `crosstab` function, find the department that has the most hourly workers.

In [48]:
# Your code here:
pd.crosstab(salaries.Department, salaries["Salary or Hourly"]).sort_values(by="Hourly", ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [62]:
# Your code here:
stats, p_valor = scipy.stats.ttest_1samp(salaries.loc[salaries['Department'] == "STREETS & SAN"]["Hourly Rate"],35, nan_policy='omit')
p_valor/2

1.6689265282355369e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [67]:
# Your code here:
res = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]
s,p = scipy.stats.t.interval(0.95, len(res)-1, res.mean(), scipy.stats.sem(res, ddof=len(res)-1))
(s,p)

(9.04624854199498, 56.53086689056758)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [68]:
police = salaries[(salaries["Salary or Hourly"] == "Salary") & (salaries['Department'] == "POLICE") ]["Annual Salary"]
scipy.stats.t.interval(0.95, len(police) - 1, police.mean(), scipy.stats.sem(police, axis=None, ddof=len(police)-1))

(50671.60678895816, 122301.22221730862)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [70]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

significance = 0.25

hourly = salaries[salaries["Salary or Hourly"] == "Hourly"]
salary_or_hourly = salaries["Salary or Hourly"]

proportion = proportions_ztest(len(hourly), len(salary_or_hourly),significance)
proportion

(-3.5099964213703005, 0.0004481127249057967)