# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
salaries2 = salaries[salaries["Hourly Rate"].notna()]

In [8]:
# Your code here:

sta,p = stats.ttest_1samp(salaries2["Hourly Rate"],30) #la media de lo que le pasas si se ajusta a 30. Respuesta tras hacer el estest:no puedo decirte que no

alpha = 0.05

print("p = {:g}".format(p))

if p < alpha:  # null hypothesis: hourly wage of all hourly workers is significantly different from $30/hr.
     print("The null hypothesis can be rejected, so we cant say that hourly wage of all hourly workers is significantly different from $30/hr")
else:
     print("The null hypothesis cannot be rejected")

p = 4.32302e-92
The null hypothesis can be rejected, so we cant say that hourly wage of all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
# Your code here:

salaries3 = salaries[salaries.Department == "POLICE"]
salaries3 = salaries3[salaries3["Annual Salary"].notna()]
salaries3

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [10]:

sta,p = stats.ttest_1samp(salaries3["Annual Salary"],86000)

alpha = 0.05/2
print(alpha)

print("p = {:g}".format(p))

if p < alpha: 
     print("The null hypothesis can be rejected") #la hipotesis nula es que la media es 86k
else:
     print("The null hypothesis cannot be rejected")

# como rechazamos la hipotesis nula no podemos afirmar ni negar que los salarios de este año sean superiores a 86000

0.025
p = 0.00206034
The null hypothesis can be rejected

In [11]:
for r in range(80000,90000,1000):
    print(r)
    sta,p = stats.ttest_1samp(salaries3["Annual Salary"],r)
    print("sta = {:g}".format(sta))
    print("p = {:g}".format(p))
# con este test, probando muchos valores, vemos que el rango comprendido entre 86k y 87k es el que da los p mas altos
# por eso podemos saber que ese rango es el que mas se acerca a la media, y que por tanto la media de este año, es ligeramente superior a la del año pasado
# ademas los valores de sta nos vienen a decir si la media está a la izquierda (si sta es negativo) o a la derecha (si sta es positivo)
# como vemos que en los valores sta de 86k y 87k pasan de de +3k a -3k, sabemos que el valor verdadero está entre 86k y 87k

80000
sta = 41.0989
p = 0
81000
sta = 34.7628
p = 1.35301e-253
82000
sta = 28.4266
p = 1.19094e-172
83000
sta = 22.0905
p = 3.03912e-106
84000
sta = 15.7543
p = 2.01464e-55
85000
sta = 9.41815
p = 5.33078e-21
86000
sta = 3.082
p = 0.00206034
87000
sta = -3.25416
p = 0.00114011
88000
sta = -9.59031
p = 1.03107e-21
89000
sta = -15.9265
p = 1.37092e-56

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
crosstab = pd.crosstab(salaries.Department ,[salaries["Salary or Hourly"]])
crosstab.sort_values("Hourly", ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# Your code here:

salaries4 = salaries[salaries.Department == "STREETS & SAN"]
salaries4 = salaries4[salaries4["Salary or Hourly"] == "Hourly"]
salaries4 = salaries4[salaries4["Hourly Rate"].notna()]
salaries4

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
...,...,...,...,...,...,...,...,...
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12

In [14]:
for r in range(30,40,2):
    print(r)
    sta,p = stats.ttest_1samp(salaries4["Hourly Rate"],r)
    print("sta = {:g}".format(sta))
    print("p = {:g}".format(p))
    
#rechazamos la hipotesis de que 35 sea la media, sabemos que la media estara entre 32 y 34

30
sta = 28.0516
p = 1.04709e-144
32
sta = 13.004
p = 4.5437e-37
34
sta = -2.04363
p = 0.0411304
36
sta = -17.0913
p = 6.02479e-61
38
sta = -32.1389
p = 1.19594e-180

In [15]:

    sta,p = stats.ttest_1samp(salaries4["Hourly Rate"],33.8)
    print("sta = {:g}".format(sta))
    print("p = {:g}".format(p))
    
#no podemos rechazar que la media sea 33.8

sta = -0.53887
p = 0.590041

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [16]:
# Your code here:
salaries6 = salaries[salaries["Hourly Rate"].notna()]
salaries6

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [17]:
# Your code here:
import numpy as np
import scipy.stats as st

a = salaries6["Hourly Rate"]

intervalo_confianza = st.t.interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a)) #sem es el error estandard de la media que es distinto a la desviación estandar

np.mean(a), intervalo_confianza

#vemos que el intervalo de confianza nos indica que a un 95% de confianza podemos afirmar que la media estará entre 32,52 y 33,05
#si calculamos la media, vemos que es 32,78
#ademas si tuvieramos dos samples podríamos comprobar si pertenecen a la misma población viendo si su intervalo es similar

(32.78855771628024, (32.52345834488425, 33.05365708767623))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
salaries6 = salaries[salaries["Department"] == "POLICE"]
salaries6 = salaries6[salaries6["Annual Salary"].notna()]

salaries6

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [19]:
# Your code here:
import numpy as np
import scipy.stats as st

a = salaries6["Annual Salary"]

intervalo_confianza = st.t.interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a)) #sem es el error estandard de la media que es distinto a la desviación estandar

np.mean(a), intervalo_confianza

(86486.41450313339, (86177.05631531784, 86795.77269094894))

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [30]:
# Your code here:

hourly = salaries[salaries["Salary or Hourly"] == "Hourly"]
hourly = hourly["Salary or Hourly"]
hourly = len(hourly)
hourly

8022

In [31]:
workers_total = salaries["Salary or Hourly"]
workers_total = len(workers_total)
workers_total

33183

In [34]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest


resultado = stat, pval = proportions_ztest(hourly, workers_total ,0.25)
resultado

#rechazamos la hipotesis nula por lo que no podemos afirmar que los hourly sean el 25% de la población.

(-3.5099964213703005, 0.0004481127249057967)