# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
salaries.groupby("Department").count()["Name"]

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [10]:
from scipy.stats import ttest_1samp

alpha = 0.05
tstat, pval = ttest_1samp(salaries["Hourly Rate"], 30, nan_policy="omit")

if pval < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media".format(pval))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval))

Valor P = 4.323024048614701e-92. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [12]:
tstat2, pval2 = ttest_1samp(salaries[salaries["Department"]=="POLICE"]["Annual Salary"], 86000, nan_policy="omit")

if pval2*2 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media".format(pval2/2))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval2/2))

Valor P = 0.00103017017755027. Se acepta la hipótesis alternativa. Diferencia estadísticamente significativa respecto a la media

Using the `crosstab` function, find the department that has the most hourly workers.

In [11]:
crosstab = pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]).sort_values("Hourly", ascending=False)
crosstab.head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
salario = salaries[salaries["Department"]=="STREETS & SAN"]["Hourly Rate"]

In [15]:
tstat3, pval3 = ttest_1samp(salario, 35, nan_policy="omit")

if pval3*2 < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. Media muestral inferior a la poblacional.".format(pval3/2))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de medias.".format(pval3/2))

Valor P = 1.6689265282355369e-21. Se acepta la hipótesis alternativa. Media muestral inferior a la poblacional.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
hourly = salaries[salaries["Salary or Hourly"].str.contains("Hourly")]
len(hourly)

8022

In [15]:
from scipy.stats import t, sem

df = len(hourly) - 1
loc = hourly["Hourly Rate"].mean()
scale = sem(hourly["Hourly Rate"])

maximo, minimo = t.interval(0.95, df=df, loc=loc, scale=scale)


print("El intervalo de confianza está entre {0} y {1}.".format(minimo, maximo))

El intervalo de confianza está entre 33.05365708767623 y 32.52345834488425.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [16]:
withSalary = salaries[(salaries["Salary or Hourly"].str.contains("Salary")) &
                      (salaries["Department"]=="POLICE")]

In [17]:
df2 = len(withSalary) - 1
loc2 = withSalary["Annual Salary"].mean()
scale2 = sem(withSalary["Annual Salary"])

maximo2, minimo2 = t.interval(0.95, df2, loc2, scale2)


print("El intervalo de confianza está entre {0} y {1}.".format(minimo2, maximo2))

El intervalo de confianza está entre 86795.77269094894 y 86177.05631531784.

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
serie = salaries["Salary or Hourly"].value_counts()

salario = serie[0]
porhoras = serie[1]

In [19]:
from statsmodels.stats.proportion import proportions_ztest

p = porhoras/(salario+porhoras)
p0 = 0.25

stat, pval = proportions_ztest(count=porhoras, nobs=len(salaries), value=0.25)

In [21]:
if pval < 0.05:
    print("Valor P = {}. Se acepta la hipótesis alternativa. La proporción muestral no es igual a 25%.".format(pval3/2))
else:
    print("Valor P = {}. Se acepta la hipótesis nula de igualdad de proporciones.".format(pval3/2))

Valor P = 1.6689265282355369e-21. Se acepta la hipótesis alternativa. La proporción muestral no es igual a 25%.