# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import statsmodels
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
print("Name:", salaries["Name"].isnull().sum())
print("Job Titles:", salaries["Job Titles"].isnull().sum())
print("Department:", salaries["Department"].isnull().sum())
print("Full or Part-Timie:", salaries["Full or Part-Time"].isnull().sum())
print("Salary or houtly:", salaries["Salary or Hourly"].isnull().sum())
print("Typical Hours:", salaries["Typical Hours"].isnull().sum())
print("Annual Salary:", salaries["Annual Salary"].isnull().sum())
print("Hourly Rate", salaries["Hourly Rate"].isnull().sum())

Name: 0
Job Titles: 0
Department: 0
Full or Part-Timie: 0
Salary or houtly: 0
Typical Hours: 25161
Annual Salary: 8022
Hourly Rate 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salary = salaries["Salary or Hourly"][salaries["Salary or Hourly"] == "Salary"].count()
hourly = salaries["Salary or Hourly"][salaries["Salary or Hourly"] == "Hourly"].count()
print("Salary:", salary, "Hourly:", hourly)
salaries.groupby("Salary or Hourly").count()

Salary: 25161 Hourly: 8022

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.groupby("Department").count()["Name"]

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy import stats
hourly = salaries["Hourly Rate"][salaries["Salary or Hourly"] == "Hourly"]
stats.ttest_1samp(hourly,30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [8]:
#Rechazamos la hipotesis nula, es decir, no podemos afirmar que su media sea 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
# Your code here:
salary = salaries[["Annual Salary", "Department"]][salaries["Salary or Hourly"] == "Salary"]
police = salary["Annual Salary"][salary["Department"]== "POLICE"]
stats.ttest_1samp(police,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [10]:
#Rechazamos la hipotesis nula, es decir, no podemos afirmar que su media sea superior a 86000

In [11]:
stats.ttest_1samp(police,87000)

Ttest_1sampResult(statistic=-3.25415659550439, pvalue=0.0011401141461175814)

In [12]:
#statistic nos dice que la media se debe encontrar entre 86000 y 87000. Ahora si podemos afirmar

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Your code here:
table = pd.crosstab(salaries["Department"], [salaries["Salary or Hourly"]]).sort_values(by = ["Hourly"], ascending=False)
table = table["Hourly"]
table.head()

Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082
GENERAL SERVICES     765
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
# Your code here:
sys = salaries["Hourly Rate"][salaries["Department"] == "STREETS & SAN"]
sys = sys[sys.notnull()]

In [15]:
stats.ttest_1samp(sys,35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [16]:
# Rechazamos que la media sea 35$, statistics nos indica que la media se encuentra por debajo.
# Por tanto, su salario por hora es menor a 35$/hora

In [17]:
stats.ttest_1samp(sys,34)

Ttest_1sampResult(statistic=-2.0436329880384836, pvalue=0.04113035849706426)

In [18]:
# Como esperabamos la media s encuentra muy cerca del 34$/hora

In [19]:
stats.ttest_1samp(sys,33.8)
#No podemos rechazar que la media sea 33.8

Ttest_1sampResult(statistic=-0.5388700080765282, pvalue=0.5900410061296006)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
# Your code here:
sal_hourly = salaries["Hourly Rate"][salaries["Hourly Rate"].notna()]
print(stats.t.interval(0.95, len(sal_hourly)-1, loc = np.mean(sal_hourly), scale=stats.sem(sal_hourly)))
print(np.mean(sal_hourly))
# El 95% de la poblaciÃ³n va a tener un sueldo entre 32.52 y 33.05 como era de esperar ya que la media es 32.79

(32.52345834488425, 33.05365708767623)
32.78855771628024

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [21]:
sal_police =  salaries["Annual Salary"][salaries["Department"]=="POLICE"]
sal_police = sal_police[sal_police.notna()]
print(stats.t.interval(0.95, len(sal_police)-1, loc = np.mean(sal_police), scale=stats.sem(sal_police)))
print(np.mean(sal_police))

(86177.05631531784, 86795.77269094894)
86486.41450313339

In [22]:
# El 95% de los policias van a tener un sueldo entre 86177 y 86795 como era de esperar ya que la media es 86486

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [23]:
# Your code here:
hourly_workers =  salaries["Salary or Hourly"][salaries["Salary or Hourly"] == "Hourly"].count()

In [24]:
statsmodels.stats.proportion.proportions_ztest(hourly_workers, len(salaries["Salary or Hourly"]), value=0.25)

(-3.5099964213703005, 0.0004481127249057967)

In [25]:
# 0.0004481127249057967 > 0.05 Rechazamos la hipotesis nula, es decir rechazamos que lo trabajadores por hora sean 
# el 25% de los trabajadores de chicago

In [26]:
statsmodels.stats.proportion.proportions_ztest(hourly_workers, len(salaries["Salary or Hourly"]), value=0.238)

(1.5956347567263862, 0.11057036286582594)