# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
for col, numnulls in salaries.isnull().sum().items():
    if numnulls > 0:
        print(f"{col} {numnulls}")

Typical Hours 25161
Annual Salary 8022
Hourly Rate 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:
department = salaries[['Name','Department']].groupby(['Department']).count()
department.head()

                   Name
Department
ADMIN HEARNG         39
ANIMAL CONTRL        81
AVIATION           1629
BOARD OF ELECTION   107
BOARD OF ETHICS       8

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [44]:
# Your code here:
from scipy import stats
hourlyWorkers = salaries[salaries['Salary or Hourly'] == 'Hourly'].drop(columns=['Annual Salary'])
# hourlyWorkers

In [31]:
x = hourlyWorkers['Hourly Rate']
mean = 30
k2,p = stats.ttest_1samp(x,mean)
alpha = 0.05
print("k2 = {:g}".format(k2))
print("p = {:g}".format(p))
if p < alpha:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

k2 = 20.6198
p = 4.32302e-92
The null hypothesis can be rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [43]:
# Your code here:
salary = salaries[salaries['Salary or Hourly'] == 'Salary']
salary = salary[salary['Department'] == 'POLICE']
# salary

In [55]:
y = salary['Annual Salary']
mean = 86000.0
k2,p = stats.ttest_1samp(y,mean)
alpha = 0.05
print("k2 = {:g}".format(k2))
print("p = {:g}".format(p))
if p < alpha:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

k2 = 3.082
p = 0.00206034
The null hypothesis can be rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [52]:
# Your code here:
Department_hw = pd.crosstab(salaries.Department, salaries['Salary or Hourly'])
Department_hw.reset_index().sort_values(by='Hourly', ascending=False).head()

Salary or Hourly        Department  Hourly  Salary
31                   STREETS & SAN    1862     336
34                     WATER MGMNT    1513     366
26                            OEMC    1273     829
2                         AVIATION    1082     547
18                GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [74]:
# Your code here:
x = salaries[salaries['Department'] == 'STREETS & SAN'] 
x = x['Hourly Rate'].dropna()
mean = 35
k2,p = stats.ttest_1samp(x,mean)
alpha = 0.05
print("k2 = {:g}".format(k2))
print("p = {:g}".format(p))
if p < alpha:
    print("The null hypothesis can be rejected")
else:
    print("The null hypothesis cannot be rejected")

k2 = -9.56745
p = 3.33785e-21
The null hypothesis can be rejected

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [82]:
# Your code here:
hourSlaries = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
alpha = 0.95

dof = len(hourSlaries) - 1
s = stats.sem(hourSlaries,ddof=dof)
l = np.mean(hourSlaries)

interval = stats.t.interval(alpha, hourSlaries, l, s)
interval

(array([7.51232632, 8.41016026, 8.21506596, ..., 8.21506596, 8.41370022,
        8.44705823]),
 array([58.06478911, 57.16695518, 57.36204948, ..., 57.36204948,
        57.16341521, 57.13005721]))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [109]:
from statsmodels.stats.proportion import proportions_ztest

In [118]:
# Your code here:
count = len(hourSlaries)
nobs = len(salaries)
value = 0.25

stat, pval = proportions_ztest(count, nobs, value)
print(stat, pval)

-3.5099964213703005 0.0004481127249057967