# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
query1={"name":{"$eq":"Babelgum"}}
list(db["companies"].find(query1, {"_id":0, "name":1}).limit(1))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
query2={"number_of_employees":{"$gt":5000}}
list(db["companies"].find(query2,{"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [4]:
query3={"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]}
list(db["companies"].find(query3,{"_id":0, "name":1, "founded_year":1}).limit(10))

[{'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [5]:
query4={"$and":[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]}
list(db["companies"].find(query4,{"_id":0,"name":1,"ipo":1}).limit(2))

[{'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [6]:
query5={"$and":[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]}
list(db["companies"].find(query5, {"_id":0, "name":1,"founded_year":1,"number_of_employees":1}).sort("number_of_employees",-1).limit(5))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991}]

### 6. All the companies that don't include the `partners` field.

In [7]:
query6={"partners":{"$exists": False}}
list(db["companies"].find(query6, {"_id":0,"name":1}).limit(5))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [8]:
query7={"category_code":{"$type": "null"}}
list(db["companies"].find(query7, {"_id":0,"name":1,"category_code":1 }).limit(5))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [9]:
query8={"$and":[{"number_of_employees":{"$gte": 100}},{"number_of_employees":{"$lt": 1000}}]}
list(db["companies"].find(query8, {"_id":0,"name":1,"number_of_employees":1 }).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [10]:
query9={"ipo.valuation_amount":{"$gte":0}}
list(db["companies"].find(query9,{"_id":0, "name":1,"ipo.valuation_amount":1}).sort("valuation_amount", -1).limit(5))

[{'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [11]:
query10={"number_of_employees":{"$gt":0}}
list(db["companies"].find(query10,{"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
#En este ejercicio, no vamos a ejecutarlo, ya que el límite es 1000.
query11={"founded_month":{"$gte" : 7}}
list(db["companies"].find(query11,{"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [12]:
query12={"$and": [{"founded_year":{"$lt" : 2000}}, {"acquisition.price_amount":{"$gt": 10000}}]}
list(db["companies"].find(query12, {"_id":0, "name":1, "acquisition.price_amount":1}).sort("acquisition.price_amount",-1).limit(5))

[{'name': 'BEA Systems', 'acquisition': {'price_amount': 8500000000}},
 {'name': 'Navteq', 'acquisition': {'price_amount': 8100000000}},
 {'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000}},
 {'name': 'Pixar', 'acquisition': {'price_amount': 7400000000}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [13]:
query13={"acquisition.acquired_year":{"$gt": 2010}}
list(db["companies"].find(query13, {"_id":0, "name":1, "acquisition":1}).sort("acquisition.price_amount",-1).limit(1))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [14]:
query14={"founded_year":{"$gt": 0}}
list(db["companies"].find(query14,{"_id":0,"name":1, "founded_year":1}).sort("founded_year",-1).limit(10))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [15]:
query15={"founded_day":{"$lte": 7}}
list(db["companies"].find(query15,{"_id":0,"name":1, "founded_year":1,"acquisition.price_amount":1}).sort("acquisition.price_amount",-1).limit(10))

[{'name': 'Netscape',
  'founded_year': 1994,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_year': 1999,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_year': 2004,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_year': 2005,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_year': 2005,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium',
  'founded_year': 2004,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [16]:
query16={"$and": [{"number_of_employees":{"$gt": 4000}}, {"category_code":"web"}]}
list(db["companies"].find(query16,{"_id":0,"name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Experian', 'number_of_employees': 15500},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Expedia', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [17]:
query17= {"$and": [{"acquisition.price_currency_code":"EUR"}, {"acquisition.price_amount":{"$gt": 100000000}}]}
list(db["companies"].find(query17,{"_id":0,"name":1, "acquisition.price_amount":1,"acquisition.price_currency_code":1}).sort("acquisition.price_amount",-1).limit(5))

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [18]:
query18= {"acquisition.acquired_month":{"$lte": 3}}
list(db["companies"].find(query18,{"_id":0,"name":1, "acquisition.price_amount":1}).sort("acquisition.price_amount",-1).limit(5))

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000}},
 {'name': 'BEA Systems', 'acquisition': {'price_amount': 8500000000}},
 {'name': 'Pixar', 'acquisition': {'price_amount': 7400000000}},
 {'name': 'Puget Energy', 'acquisition': {'price_amount': 7400000000}},
 {'name': 'Siebel Systems', 'acquisition': {'price_amount': 5850000000}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [19]:
query19={"$and":[{"founded_year":{"$gt": 2000}}, {"founded_year":{"$lt": 2010}}, {"acquisition.acquired_year":{"$gt": 2011}}]}
list(db["companies"].find(query19,{"_id":0,"name":1, "founded_year":1,"acquisition.acquired_year":1 }).limit(5))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [20]:
import pandas as pd
from pandas.io.json import json_normalize

query20={"$and": [{"deadpooled_year": {"$not":{"$type":"null"}}}, {"founded_year": {"$not":{"$type":"null"}}}]}
cursor =list(db["companies"].find(query20,{"_id":0,"name":1, "founded_year":1,"deadpooled_year":1}))
df = json_normalize(cursor)
df.head(10)

        name  founded_year  deadpooled_year
0  AdventNet          1996                2
1       Zoho          2005                3
2   Wetpaint          2005                1
3  Omnidrive          2005             2008
4   Babelgum          2007             2013
5    Sparter          2007             2008
6      Thoof          2006             2013
7     Wesabe          2005             2010
8  Jangl SMS          2005             2008
9    Stickam          2006             2013

In [25]:
#Se desprecian las líneas en las que el deadpooled_year es inferior al founded_year,
#y las líneas en las que en lugar de un año muestra un valor entero muy bajo.

df['deadSince']= df['deadpooled_year']-df['founded_year']

df2=df[(df.deadSince>3)].sort_values(by=["deadSince"]).reset_index()
df2.head(10)

   index                        name  founded_year  deadpooled_year  deadSince
0    347         SimpleLeap Software          2008             2012          4
1    165              Tapioca Mobile          2008             2012          4
2    423                 Mybandstock          2009             2013          4
3    421                   TripShake          2008             2012          4
4    420  InterStilist Professionnel          2008             2012          4
5    417                       Zubka          2006             2010          4
6    174              YourTeamOnline          2007             2011          4
7    161               Authenticlick          2005             2009          4
8    177                      itzbig          2006             2010          4
9    182                     Jodange          2007             2011          4